/*전체 공통*/
.display-none{display:none!important;}
.flex100{flex:100%;}

/* My금고 메인화면 공통 */
.my-safe .kb-sec .content-box{margin-left:0;margin-right:0;}
.my-safe>.asset-my-safe{font-weight:400;}
.my-safe>.asset-my-safe .top-area{margin: 0 auto;}
.my-safe>.asset-my-safe .top-area>.name-wrap{font-size:22px;border-bottom:0px solid #ffd338;padding: 10px 0px;}
.my-safe>.asset-my-safe .top-area>.name-wrap .ctm-name{font-size:22px;font-weight:bold;}
.my-safe>.asset-my-safe .top-area>p{line-height:18px;font-size:14px;padding:10px 0px;}
.my-safe>.asset-my-safe .my-safe-asset-box{display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;padding:20px 20px;}
.my-safe>.asset-my-safe .bottom-area{font-size:20px;font-weight:bold;}
.my-safe>.asset-my-safe .bottom-area .index-visual > img{width:210px;height:190px;}

/* My금고 바텀시트 공통 */
.coffer-line>ul>li:first-of-type{border-top:1px solid #ebeef0;}
.coffer-line>ul>li{height:59px;line-height:59px;border-bottom:1px solid #ebeef0;}
.coffer-line>ul>li button{padding-right:0;text-align:center;font-weight:700;}
.coffer-line>ul>li button:focus{outline:0;}
.bottom-sheet .mysafe-btn-close{display:none;}

/* [MYS_AS_17_01_00_P1] 메인화면(자산등록 전) */
.my-safe>.asset-my-safe .my-safe-asset-box .h4{height:32px;margin-left:10px;font-size:16px;line-height:32px;}

/* [MYS_AS_17_01_00_P2] 메인화면(자산등록 후) */
.my-safe>.asset-my-safe .content-box .my-total-value{padding-bottom:16px;border-bottom:1px solid #ebeef0;}
.my-safe>.asset-my-safe .content-box .my-total-value .num{font-size:20px;}
.my-safe>.asset-my-safe .content-box .my-variance-value{font-size:16px;}

.my-safe>.asset-my-safe .content-box .my-variance-value .description-list{height:16px;padding:0;line-height:16px;}
.my-safe>.asset-my-safe .content-box .my-variance-value .description-list.type2 dt{margin:0;}
.my-safe>.asset-my-safe .content-box .my-variance-value .num:before{content:'';display:inline-block;width:0px;height:0px;margin-right:4px;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:11px solid #ff5858;}
.my-safe>.asset-my-safe .content-box .my-variance-value .num{font-size:16px;color:#ff5858;}

/* [MYS_AS_17_01_02_P1] My자산 등록 */

/* [MYS_AS_17_01_03_P1] 현금(외화/원화) 목록 */

/* [MYS_AS_17_01_07_P1] 금 목록 */

/* [MYS_AS_17_01_08_P1] 금 등록 */
.my-safe-pop-gold>.kb-sec .empty-gold-unit-info{color:#696e76;}
.my-safe-pop-gold>.kb-sec .pop-notice .h4{display:block;width:70.78%;min-width:231px;line-height:23px;}
.my-safe-pop-gold>.kb-sec .pop-notice.header {padding-bottom:46px;color:#26282c;font-weight:bold;border-bottom:1px solid #484b51;}
.my-safe-pop-gold>.kb-sec .gold-input-form{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:baseline;}
.my-safe-pop-gold>.kb-sec .gold-input-form .tit {flex:100%;display:block;width:100%;font-size:16px;font-weight:normal;line-height:23px;}
.my-safe-pop-gold>.kb-sec .gold-input-form .my-gold-conversion{font-size:14px;line-height:20px;}
.my-safe-pop-gold>.kb-sec .gold-input-form .gold-input-num{flex:1;max-width:69%;}
.my-safe-pop-gold>.kb-sec .gold-input-form .gold-unit-form{flex:1;max-width:27%;margin-top:0;}
.my-safe-pop-gold>.kb-sec .gold-input-form .button-area{margin-top:10px;}
.my-safe-pop-gold>.kb-sec .gold-input-form .info-msg{margin-top:10px;}
.my-safe-pop-gold>.kb-sec .gold-input-form .gold-input-shape{margin-top:10px;}
// .my-safe-pop-gold>.kb-sec .gold-input-form .gold-Shape-form{flex:100%;}
// .my-safe-pop-gold>.kb-sec .gold-input-form .gold-input-memo{flex:100%;}


/* [MYS_AS_17_01_08_BS1] 금 형태선택(바텀시트) */

/* [MYS_AS_17_01_08_BS2] 금 단위선택(바텀시트) */

/* [MYS_AS_17_01_08_P2] 금 조회 및 수정/삭제 */

/* [MYS_AS_17_01_09_P1] 휴대폰 목록 */

/* [MYS_AS_17_01_10_P1] 휴대폰 등록 */

/* [MYS_AS_17_01_10_BS1] 제조사(바텀시트) */

/* [MYS_AS_17_01_10_BS2] 모델(바텀시트) */

/* [MYS_AS_17_01_10_BS3] 용량(바텀시트) */

/* [MYS_AS_17_01_10_P2] 휴대폰 조회 및 수정/삭제 */

/* [MYS_AS_17_01_10_P3] 휴대폰 시세조회 */

/* [MYS_AS_17_01_09_P2] 휴대폰 모델 등록(아이폰 S) */

/* [MYS_AS_17_01_09_P3] 휴대폰 모델 등록(아이폰 A) */

/* [MYS_AS_17_01_09_P4] 휴대폰 모델 등록(아이폰 B) */

/* [MYS_AS_17_01_09_P5] 휴대폰 모델 등록(아이폰 C) */

/* [MYS_AS_17_01_09_P6] 휴대폰 모델 등록(아이폰 D) */

/* [MYS_AS_17_01_09_P7] 휴대폰 모델 등록(갤럭시 및 기타 S) */

/* [MYS_AS_17_01_09_P8] 휴대폰 모델 등록(갤럭시 및 기타 A) */

/* [MYS_AS_17_01_09_P9] 휴대폰 모델 등록(갤럭시 및 기타 B) */

/* [MYS_AS_17_01_09_P10] 휴대폰 모델 등록(갤럭시 및 기타 C) */

/* [MYS_AS_17_01_09_P11] 휴대폰 모델 등록(갤럭시 및 기타 D) */

/* [MYS_AS_17_01_11_P1] 기타자산 목록 */

/* [MYS_AS_17_01_12_P1] 기타자산 등록 */

/* [MYS_AS_17_01_12_BS1] 기타자산 종류(바텀시트) */

/* [MYS_AS_17_01_12_P2] 기타자산 조회 및 수정/삭제 */

/* [MYS_AS_17_01_13_P1] 자산등록완료 */
