/* DASHBOARD */
.kb-sec.dash-sec {padding: 8px 24px;}

.dash-sec .content-box {padding-top: 0;}

.dash-header .title {display: block; padding: 20px 2px; font-size: 18px; line-height: 24px; font-weight: bold;}
.dash-header > a {position: relative; display: block;}	
.dash-header > a .icon-link_24 {position: absolute; right: 0; top: 50%; margin-top: -12px;}
.dash-header.dash-header_icon .title {padding-left: 32px;}
.dash-header.dash-header_icon .title i {position: absolute; left: 0;}
.dash-header.dash-header_bline {border-bottom: 1px solid #ebeef0;}