@charset "utf-8";

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var, b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup, menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
body{line-height:1}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
fieldset,img{border:0 none;vertical-align:middle}
hr{display:none}
input,select,textarea,button,label{vertical-align:middle;font-family:inherit}
input,select,textarea{border:1px #bdbdbd solid}
input[type=radio],input[type=checkbox]{width:13px;height:13px;margin:0;padding:0;border:none;vertical-align:middle}
textarea{resize:none;}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
legend, caption{text-indent:-9999px;top:-9999px;left:-9999px;height:0}

*{box-sizing:border-box;}
/**/
a{text-decoration:none;color:inherit;line-height:1.5;}
input{border:1px solid #aaa;}
html,body{width:100%;height:100%;}
button,input{outline:none;}

body{font-family: 'Noto Sans KR', sans-serif;font-size:14px;}
#wrap{position:relative;width:100%;height:100%;overflow:hidden;}
#container{width:100%;padding-top:52px;height:100%;box-sizing:border-box;}
#container:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
#treeArea{overflow:auto;float:left;width:100%;height:100%;color:#333;}
#viewArea{display:none;position:relative;top:-52px;float:right;width:0%;height:100vh;padding:0;background-color:#666;}
#viewArea iframe{width:100%;height:100%;}
.view-area{flex-shrink:0;position:relative;width:377px;height:640px;margin-top:60px;background-color:#fff;}
.view-area .x,
.view-area .y{position:absolute;color:#fff;}
.view-area .x{top:-30px;left:50%;transform:translateX(-50%);}
.view-area .y{right:-50px;top:50%;transform:translateY(-50%)}
.device-group select{width:200px;height:34px;}
.device-group ~ .annotation{display:none;color:#fff;margin-top:30px;}
.header{position:absolute;top:0;left:0;width:100%;padding:10px;background:#fff;}
.header:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
.header input{line-height:30px;font-family: 'Noto Sans KR', sans-serif;font-size:14px;padding:0 10px;box-sizing:border-box;}
/* .filter-input{float:left;width:40%;padding-right:20px;box-sizing: border-box;} */
.filter-input{width:100%;box-sizing: border-box;}
.filter-input input{width:100%;}
.url-input{display:none;position:relative;float:left;width:60%;box-sizing:border-box;}
.url-input input{width:100%;}
.url-input a{position:absolute;top:0;right:0;display:block;font-size: 25px;}

body.is-mobile-view .header,
body.is-mobile-view #treeArea{width:40%;}
body.is-mobile-view #treeArea:before{content:'Ctrl + Click : 새창';display:block;padding:0 10px 10px 10px;text-align:right;}
body.is-mobile-view #viewArea{overflow:auto;display:flex;align-items:center;flex-flow:column;width:60%;padding:10px 30px;}
.is-mobile button.mobile-view{display:none;}

.notice{position:fixed;bottom:0;right:0;width:100%;background:none;}
.notice a{position:absolute;bottom:0;right:0;}
.notice ul{display:none;margin:10px 0;}
.notice li{margin:4px 0;}
.notice li:after{content:'';display:block;clear:both;height:0;visibility: hidden;}
.notice li strong{float:left;}
.notice li p{float:left;}
.notice li p span{margin-right:10px;}
.notice.on{background:#fff;border-top:4px solid #aaa;}


.fa span{text-indent:-9999px;font-size:0;}
.view-comment{cursor:pointer;}

#root_tree{padding-bottom:0;}
#root_tree li{position:relative;padding:0 20px;font-size:16px;}
#root_tree li li{font-size:15px;}
#root_tree li li li{font-size:14px;}
#root_tree li ul,
#root_tree li + li{margin-top:5px;}
#root_tree > li{padding:0 10px 10px 10px;}
#root_tree > li > a:before{content:none;}
#root_tree > li > a{display:block;margin-bottom:10px;padding:5px 10px;border-radius:5px;background:#000;color:#fff;}		
#root_tree li strong{font-weight:400;line-height:1.5;}
#root_tree li.is-current > a{position:relative;display:block;}
#root_tree li.is-current > a:after{content:'';position:absolute;left:-2px;right:-2px;bottom:-2px;top:-2px;background-color:rgb(255, 88, 88, 0.2);}

.close:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-minus.png) no-repeat;background-size:cover;}
.open:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-plus.png) no-repeat;background-size:cover;}
.working:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-working.png) no-repeat;background-size:cover;}
.complete:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-complete.png) no-repeat;background-size:cover;}
.dev:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-dev.png) no-repeat;background-size:cover;}
.modified:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/ico-modified.png) no-repeat;background-size:cover;}
.modified > a,
.modified > strong{color:#287eff}



/* .macos #viewArea.view-mobile{width:375px;} */

.gate{display:flex;height:100vh;font-family:'Noto Sans KR';}
.gate > div{display:flex;flex:1;justify-content:center;align-items:center;}
.gate a{font-size:36px;color:#333;}
.gate a:hover{text-decoration:underline;}

.view-btn{position:fixed;top:10px;right:10px;width:260px;}
.view-btn button{float:left;width:80px;height:20px;background-color:#333;color:#fff;}
.view-btn button + button{margin-left:10px;border-radius:4px;}

.mobile-view{overflow:hidden;white-space:nowrap;text-indent:200%;position:fixed;bottom:40px;right:40px;width:60px;height:60px;border-radius:50%;background:#fff url(../images/mobile-device.png) no-repeat;background-size:cover;border:1px solid #999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.mobile-view:hover{
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.mobile-view.is-active{background-color:#ffd338}


@media screen and (max-width:899px){
    #treeArea{width:100%;float:none;}
    #viewArea{display:none;}
    .filter-input{width:100%;}
}


#root_tree li[data-level]{position:relative;color:#222;padding-left:20px;}
#root_tree li[data-level]:before{content:'';position:absolute;left:0;top:4px;width:1em;height:1em;border-radius:50%;background-color:#222;vertical-align:-1px;}
#root_tree li[data-level="1"]{color:yellowgreen}
#root_tree li[data-level="1"]:before{background-color:yellowgreen}
#root_tree li[data-level="2"]{color:#287eff}
#root_tree li[data-level="2"]:before{background-color:#287eff}
#root_tree li[data-level="3"]{color:#ff5858}
#root_tree li[data-level="4"]:before{background-color:#ff5858}