//Layered

// .layered > div{position:fixed;}
// .layered > div:before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0);transition:background-color .2s;}
// .layered > div.is-dimmed{overflow:auto;right:0;bottom:0;z-index:$level80;height:auto;}
// .layered > div.is-dimmed:before{background-color:$dim-color;}

.popup{display:flex;flex-flow:column;position:fixed;top:-9999px;left:0;z-index: $level80;width:100%;height:100%;background-color:$kb-ui11;}
.popup .popup_buttons{display:none;margin-top:0;}
.popup.is-active{top:0;}
.popup.is-active .popup_buttons{display:block;}
.popup_header{flex:0 0 48px;padding:12px 48px 11px 24px;text-align:left;}
.popup_header .tit{@include text($size: $text01);display:inline-block;}
.popup_contents{overflow:auto;flex:1;margin-bottom:24px;}
.popup_contents.is-hold{overflow:hidden;height:calc(var(--vh, 1vh) * 100 - 48px)};
.with-button .popup_contents{padding-bottom:60px;}
.popup > .tit{display:block;padding:2px 0 15px 0;font-size:24px;font-weight:bold;white-space:nowrap;}
.popup > .btn-close {
    @include iconCancel($size: 18px, $thick: 2px, $color: $kb-ui02, $padding: 8px, $position: absolute);
	right: 16px;top: 8px;
}

/* Bottom Sheet */
.bottom-sheet {display:none;position:fixed;left:0;right:0;bottom:-16px;z-index:$level90;max-height:95%;padding-top:32px;border-top-left-radius: 12px;border-top-right-radius: 12px;background-color: $kb-ui11;transition:transform .3s cubic-bezier(0.165, 0.84, 0.44, 1),height .3s .1s cubic-bezier(0.165, 0.84, 0.44, 1);box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.08);}
.bottom-sheet.is-active{display:flex;flex-flow:column;bottom:0;animation:bsShow .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.bottom-sheet.bs-out{animation:bsHide .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.bottom-sheet.bs-tab{height:70%;}
.bottom-sheet.bs-tab.is-expanded{height:95%;}
.bottom-sheet .bottom-sheet_header {flex:0 0 28px;padding:0 48px 0 24px;margin-bottom:20px;}
.bottom-sheet .bottom-sheet_header .tit {font-size:20px;font-weight: bold;line-height: 28px;color:$kb-ui01;letter-spacing:-0.02em}
.bottom-sheet_contents{@include text;flex:1;overflow:hidden;overflow-y:auto;padding-bottom:32px;}
.bottom-sheet_contents .kb-sec:first-child{padding-top:0;}
.bottom-sheet .not-today + .bottom-sheet_buttons{margin-top:0;}
.bottom-sheet_buttons{display:flex;}
.bottom-sheet_buttons .btn-solid{flex:1;border-radius:0;font-size:20px;font-weight:bold;height:auto;line-height:6rem;}
.bottom-sheet_buttons .btn-solid + .btn-solid{flex: 0 0 60%}
.ios.homebar .bottom-sheet_buttons .btn-solid{padding-top:1rem;}
.ios.homebar .bottom-sheet_buttons .btn-solid > span{line-height:6rem;padding-bottom:1.2rem;}

.bottom-sheet_select{overflow:auto;max-height:100%;margin:0 24px;}
.bottom-sheet_select li button{width:100%;padding:5px 25px 5px 0;text-align:left;font-size:16px;line-height:24px;}
.bottom-sheet_select li + li{margin-top:6px;}
.bottom-sheet_select li.is-selected button{background:url(../images/common/checkbox_20_on@2x.png) no-repeat right 0 top 50%;background-size:20px;}
.bottom-sheet .tab{flex:0 0 40px;}
.bottom-sheet .tab + .bottom-sheet_contents{padding-top:32px;}
.bottom-sheet > .btn-close{right: 16px;top: 15px;}
.bottom-sheet .bottom-sheet_header ~ .btn-close{top: 27px;}

@keyframes bsShow {
    0%{transform:translateY(100%);}
    100%{transform:translateY(0);}    
}
@keyframes bsHide {
    0%{transform:translateY(0);}    
    100%{transform:translateY(100%);}
}

.modal{display:none;position:fixed;left:50%;top:50%;width:calc(100vw - 48px);max-width:340px;max-height:calc(100% - 100px);padding-top:26px;background-color:$kb-ui11;border-radius:2px;}
.modal.is-active{display:flex;flex-flow:column;animation: modalIn .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.modal.modal-out{animation: modalOut .2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.modal_header{min-height:28px;padding:0 24px;}
.modal_header .tit{@include heading($size: 20px);display:inline-block;padding:0 2px;}
.modal_header  + .modal_contents{margin-top:15px;}
.modal_contents{@include text($size: $text02);overflow:auto;margin-top:3px;margin-bottom:28px;padding:0 24px;}
.modal-not-today{flex:1 0 76px;padding:28px 24px 24px;background-color:$kb-ui11;}
.modal_contents ul[data-style=list] li{color:$kb-ui03;}
.modal .not-today + .modal_buttons {margin-top:0;}
.modal_buttons {margin-top:4px;}
.modal_buttons .btn-solid{font-weight:bold;}
.modal > .btn-close{right: 16px;top: 27px;}

//오늘하루 보지 않기
.popup .not-today,
.bottom-sheet .not-today,
.modal .not-today{flex:0 0 24px;padding:0 24px 24px;background-color:$kb-ui11;}

@keyframes modalIn {
    0%{transform:translate(-50%,-50%) scale(0.8);opacity:0.8;}
    100%{transform:translate(-50%,-50%) scale(1);opacity:1;}    
}
@keyframes modalOut {
    0%{transform:translate(-50%,-50%) scale(1);opacity:1;}    
    100%{transform:translate(-50%,-50%) scale(0.8);opacity:0;}
}

.bottom-sheet > .btn-close,
.modal > .btn-close {
    @include iconCancel($size: 18px, $thick: 2px, $color: $kb-ui05, $padding: 8px, $position: absolute);	
}
.modal .error-code{display:block;margin-top:12px;}


//공통
.popup[data-layered-name=popupAgreeCollectionUsePersonalInfo] .accordion > dt{padding-top:0;border-top:none;}
.popup[data-layered-name=popupAgreeCollectionUsePersonalInfo] .accordion > dd{display:block;padding-top:24px;padding-bottom:24px;border-top-color:$kb-ui03}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-msg{@include text($text02);padding-top:28px;padding-bottom:28px;background-color:$kb-ui10;color:$kb-ui03;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-msg .num{font-size:17px;color:$color-blue;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list > .tit,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list > .tit{display:block;margin-top:48px;font-size:18px;font-weight:bold;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list li,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list li{border-bottom:1px solid $kb-ui09;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list li button,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list li button{display:block;width:100%;padding:20px 0;text-align:left;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list li button i,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list li button i{float:right;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list li button span,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list li button span{font-weight:bold;font-size:18px;}
// .popup[data-layered-name^=popupEmployeeSearch] .employee-search-list .no-data,
// .popup[data-layered-name^=popupEmployeeSearch] .branch-search-list .no-data{margin-top:100px;}
// .popup[data-layered-name^=popupEmployeeSearch] .is-branch-search .employee-search-list,
// .popup[data-layered-name^=popupEmployeeSearch] .is-branch-search .employee{display:none;}
// .popup[data-layered-name^=popupEmployeeSearch] .is-employee-search .branch,
// .popup[data-layered-name^=popupEmployeeSearch] .is-employee-search .branch-search-list{display:none;}

[data-page-name^=employeeSearch] .employee-search-msg{@include text($text02);padding-top:28px;padding-bottom:28px;background-color:$kb-ui10;color:$kb-ui03;}
[data-page-name^=employeeSearch] .employee-search-msg .num{font-size:17px;color:$color-blue;}
[data-page-name^=employeeSearch] .employee-search-list > .tit,
[data-page-name^=employeeSearch] .branch-search-list > .tit{display:block;margin-top:48px; margin-bottom:37px;font-size:18px;font-weight:bold;}
[data-page-name^=employeeSearch] .employee-search-list li,
[data-page-name^=employeeSearch] .branch-search-list li{border-bottom:1px solid $kb-ui09;}
[data-page-name^=employeeSearch] .employee-search-list li button,
[data-page-name^=employeeSearch] .branch-search-list li button{display:block;width:100%;padding:20px 0;text-align:left;}
[data-page-name^=employeeSearch] .employee-search-list li button i,
[data-page-name^=employeeSearch] .branch-search-list li button i{float:right;}
[data-page-name^=employeeSearch] .employee-search-list li button span,
[data-page-name^=employeeSearch] .branch-search-list li button span{font-weight:bold;font-size:18px;}
[data-page-name^=employeeSearch] .employee-search-list .no-data,
[data-page-name^=employeeSearch] .branch-search-list .no-data{margin-top:100px;}

[data-page-name^=employeeSearch].is-branch-search .employee-search-list,
[data-page-name^=employeeSearch].is-branch-search .employee{display:none;}
[data-page-name^=employeeSearch].is-employee-search .branch,
[data-page-name^=employeeSearch].is-employee-search .branch-search-list{display:none;}
// .bottom-sheet[data-layered-name=bsCalendar] .bottom-sheet_contents{padding-bottom:36px;}


.bottom-sheet[data-layered-name=bsOtherLogin] .select-list li i:first-child{margin-right:10px;}

//조회 조건의 상세보기
.lookup-detail{margin-top:20px;}
.lookup-detail .kb-form{display:none;}
.lookup-detail .btn-text:first-child{float:right}
.lookup-detail .btn-text:first-child i{@include ir;@include iconBullet($direction: 'down', $width: 14px, $thick: 2px, $color: $kb-ui02);margin-left:8px;}
.lookup-detail .btn-text:first-child + .kb-form{clear:both;}
.lookup-detail .btn-text:first-child.is-active ~ .kb-form{display:block;}
.lookup-detail .btn-text:first-child.is-active i{transform:translateY(-2px) rotate(180deg)}
.lookup-detail .btn-text:first-child i:after{content:'보기'}
.lookup-detail .btn-text:first-child.is-active i{content:'숨기기'}

