@import 'layered';

.account-info li{@include text(14px);display:flex;justify-content:space-between;}
.account-info li + li{margin-top:20px;}
.account-info li .num{@include number(15px)}
.account-info li > div{text-align:right;}

.search-month{display:flex;justify-content:center;}
.search-month strong.num{margin:0 0.9rem;font-weight:bold;font-size:1.9rem;line-height:24px;}
.search-month > button{@include ir;width:24px;height:24px;background-image:url(../images/common/common.png);background-size:160px;background-repeat:no-repeat;}
.search-month .btn-prev{background-position:0 -45px;}
.search-month .btn-prev.is-disabled{background-position:0 -69px;}
.search-month .btn-next{background-position:-24px -45px;}
.search-month .btn-next.is-disabled{background-position:-24px -69px;}

//Datepicker
.calendar-nav{position:relative;display:flex;justify-content:center;align-items:center;margin-left:(-2.4rem);margin-right:(-2.4rem);padding:17px 40px;background-color:$kb-ui10;}
.calendar-nav strong{@include number($weight:bold, $line-height:24px);margin:0 20px;}
.calendar-nav .btn-text{@include btnText($size:14px);position:absolute;left:24px;top:20px;}
.calendar-nav .btn-text:after{content:'';position:absolute;bottom:0;left:0;right:0;height:2px;background-color:$kb-ui02}
.calendar-nav .btn-text span{line-height:1;}
.calendar-nav > button:not(.btn-text){@include ir;width:24px;height:24px;background-image:url(../images/common/common.png);background-size:160px;background-repeat:no-repeat;}
.calendar-nav .btn-first{background-position:-48px -45px;}
.calendar-nav .btn-first.is-disabled{background-position:-48px -69px;}
.calendar-nav .btn-prev{background-position:0 -45px;}
.calendar-nav .btn-prev.is-disabled{background-position:0 -69px;}
.calendar-nav .btn-next{background-position:-24px -45px;}
.calendar-nav .btn-next.is-disabled{background-position:-24px -69px;}
.calendar-nav .btn-last{background-position:-72px -45px;}
.calendar-nav .btn-last.is-disabled{background-position:-72px -69px;}

.calendar-area{margin-top:16px;padding-top:24px;border-top:1px solid $kb-ui09;}
.calendar-area th,
.calendar-area td{text-align:center;}
.calendar-area th{padding-top:0;padding-bottom:3px;color:$kb-ui04;line-height:1;}
.calendar-area td{height:36px;font-size:17px;color:$kb-ui02;font-weight:bold;}
.calendar-area td.today button{width:36px;height:36px;border-radius:50%;background-color:$color-yellow}
.calendar-area .ui-datepicker{padding:0;}
.calendar-area .ui-widget.ui-widget-content{width:100%;border:none;}
.calendar-area .ui-datepicker table{margin-bottom:0;}
.calendar-area .ui-datepicker .ui-datepicker-header{display:none;}
.calendar-area .ui-datepicker-calendar{font-family:'KBFGText';}
.calendar-area .ui-datepicker-calendar th span{@include text($size: 14px, $line-height:1, $weight: normal)}
.calendar-area .ui-datepicker td{padding:3px;}
.calendar-area .ui-datepicker td span, 
.calendar-area .ui-datepicker td a{@include number($size: 17px, $line-height:1, $weight: bold);width:36px;height:36px;margin:0 auto;padding:0;line-height:36px;text-align:center;}
.calendar-area .ui-state-default, 
.calendar-area .ui-widget-content .ui-state-default, 
.calendar-area .ui-widget-header .ui-state-default, 
.calendar-area .ui-button, 
.calendar-area .ui-button.ui-state-disabled:hover, 
.calendar-area .ui-button.ui-state-disabled:active{border:none;background-color:transparent;color:$kb-ui02;}
.calendar-area .ui-state-disabled, 
.calendar-area .ui-widget-content .ui-state-disabled, 
.calendar-area .ui-widget-header .ui-state-disabled{opacity:1;}
.calendar-area .ui-state-disabled .ui-state-default, 
.calendar-area .ui-widget-content .ui-state-disabled .ui-state-default, 
.calendar-area .ui-widget-header .ui-state-disabled .ui-state-default{color:$kb-ui07;}
.calendar-area .ui-widget-content .ui-state-active{border:none;background-color:$color-yellow;border-radius:50%;}
.calendar-area .ui-widget-content .ui-datepicker-today .ui-state-highlight{position:relative;}
.calendar-area .ui-widget-content .ui-datepicker-today .ui-state-highlight:after{content:'';position:absolute;top:0;left:calc(50% - 2px);width:4px;height:4px;border-radius:50%;background-color:$color-yellow}

.pdf-viewer{overflow:auto;display:flex;flex-flow:column;height:calc(var(--vh, 1vh) * 100 - 48px);padding:0;background-color:$kb-ui08;}
.pdf-viewer .pdf-area{flex:1;}
.pdf-viewer .sticky-bottom.sticky-bottom:not(.popup_buttons){padding-top:0;height:52px;}
.ios.homebar .pdf-viewer > section + .sticky-bottom.sticky-bottom:not(.popup_buttons){height:86px;}
