// 금융플러스
.finance-plus .top-info .tit{@include text($size:2.4rem,$weight:normal);line-height:3.3rem;word-break:keep-all;color:$kb-ui02;letter-spacing:-0.096rem;}
.finance-plus .top-info .tit strong{font-size:2rem;color:$heading03;font-weight:bold;}
.finance-plus .top-info .img-area{text-align:right;}
.finance-plus .top-info .img-area img{width:10.5rem;}
.finance-plus .card-content{margin-top:4.2rem;}
.finance-plus .card-content .content-box + .content-box{margin-top:1.2rem;}
.finance-plus .card-content .tit{font-size:$text01;margin-bottom:1.6rem;}
.finance-plus .card-content .tit button{display:flex;width:100%;justify-content:space-between;}
.finance-plus .card-content .card-list{padding-left:6rem;position:relative;}
.finance-plus .card-content .card-list > i{position:absolute;left:2rem;top:2rem;}
.finance-plus .card-content .card-list .desc{@include text($size:$text02,$weight:normal);letter-spacing:-.06rem;}
.finance-plus .card-content .card-list .desc strong{font-weight:bold;}
.finance-plus .card-content .card-list .desc .plus{color:$color-red;}
.finance-plus .card-content .card-list .desc .plus:before{content:'▲ ';font-size:1.3rem;}
.finance-plus .card-content .card-list .desc .minus{color:$color-blue;}
.finance-plus .card-content .card-list .desc .minus:before{content:'▼ ';font-size:1.3rem;}
.finance-plus .card-content .card-list .desc .sml{font-size:$text03;}
.finance-plus .card-content .card-list .desc .sml .num{font-size:1.5rem;}
.finance-plus .card-content .card-list .desc .sml .num:after{font-size:$text03;}
.finance-plus .card-content .card-list .desc .num:before{font-family:'KBFGText';}
.finance-plus .card-content .card-list .desc .num:after{vertical-align:0;}
.finance-plus .card-content .card-list button{margin-top:1.6rem;width:100%;}
.finance-plus .card-content .card-list button span{font-size:$text03;color:$kb-ui04;}
.finance-plus .card-content .status-msg{text-align:center;padding-top:4.8rem;padding-bottom:4.4rem;}
.finance-plus .card-content .status-msg button{width:100%;}
.finance-plus .card-content .status-msg i{margin-bottom:1.2rem;}
.finance-plus .card-content .status-msg .tit{@include text($size:$text02,$weight:normal);display:block;}
.finance-plus .card-content .status-msg .tit + .desc{margin-top:.8rem;}
.finance-plus .card-content .status-msg .desc{@include text($size:$text03,$weight:normal);color:$kb-ui04;display:block;}