/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add_68 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -90px 0px;
  width: 68px;
  height: 68px;
}
.icon-add_type2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -74px -90px;
  width: 60px;
  height: 60px;
}
.icon-add_type2_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -140px -164px;
  width: 48px;
  height: 48px;
}
.icon-apple {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-apple_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -296px -232px;
  width: 40px;
  height: 40px;
}
.icon-apt_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -300px;
  width: 32px;
  height: 32px;
}
.icon-arrow-down_blue_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -168px;
  width: 20px;
  height: 20px;
}
.icon-arrow-up_red_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -198px;
  width: 20px;
  height: 20px;
}
.icon-asset-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -200px -342px;
  width: 32px;
  height: 32px;
}
.icon-asset-debt-2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -242px -342px;
  width: 32px;
  height: 32px;
}
.icon-asset-debt {
  background-image: url(../images/sprite/sprite.png);
  background-position: -284px -342px;
  width: 32px;
  height: 32px;
}
.icon-asset-deposit {
  background-image: url(../images/sprite/sprite.png);
  background-position: -326px -342px;
  width: 32px;
  height: 32px;
}
.icon-asset-estate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px 0px;
  width: 32px;
  height: 32px;
}
.icon-asset-etc {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -42px;
  width: 32px;
  height: 32px;
}
.icon-asset-finance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -84px;
  width: 32px;
  height: 32px;
}
.icon-asset-forex {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -126px;
  width: 32px;
  height: 32px;
}
.icon-asset-fund {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -168px;
  width: 32px;
  height: 32px;
}
.icon-asset-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -210px;
  width: 32px;
  height: 32px;
}
.icon-asset-insurance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -252px;
  width: 32px;
  height: 32px;
}
.icon-asset-invest {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -294px;
  width: 32px;
  height: 32px;
}
.icon-asset-pay {
  background-image: url(../images/sprite/sprite.png);
  background-position: -404px -336px;
  width: 32px;
  height: 32px;
}
.icon-asset-point {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -392px;
  width: 32px;
  height: 32px;
}
.icon-asset-safe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -392px;
  width: 32px;
  height: 32px;
}
.icon-asset-save {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -392px;
  width: 32px;
  height: 32px;
}
.icon-asset-trust {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -392px;
  width: 32px;
  height: 32px;
}
.icon-band_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px 0px;
  width: 48px;
  height: 48px;
}
.icon-band_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -58px;
  width: 48px;
  height: 48px;
}
.icon-bang_20_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -228px;
  width: 20px;
  height: 20px;
}
.icon-bang_20_wh {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -258px;
  width: 20px;
  height: 20px;
}
.icon-bang_48_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -116px;
  width: 48px;
  height: 48px;
}
.icon-bang_60_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px 0px;
  width: 60px;
  height: 60px;
}
.icon-bang_60_red {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -70px;
  width: 60px;
  height: 60px;
}
.icon-bell2_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -375px;
  width: 24px;
  height: 24px;
}
.icon-bell4_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -409px;
  width: 24px;
  height: 24px;
}
.icon-calendar_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -288px;
  width: 20px;
  height: 20px;
}
.icon-calendar_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -443px;
  width: 24px;
  height: 24px;
}
.icon-car-my_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -292px;
  width: 40px;
  height: 40px;
}
.icon-car-wish_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -50px -292px;
  width: 40px;
  height: 40px;
}
.icon-card-fail {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -174px;
  width: 48px;
  height: 48px;
}
.icon-card-plus {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -234px;
  width: 48px;
  height: 48px;
}
.icon-certificate-active {
  background-image: url(../images/sprite/sprite.png);
  background-position: -100px -292px;
  width: 40px;
  height: 40px;
}
.icon-certificate-co_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -292px;
  width: 40px;
  height: 40px;
}
.icon-certificate-expire {
  background-image: url(../images/sprite/sprite.png);
  background-position: -200px -292px;
  width: 40px;
  height: 40px;
}
.icon-certificate-fin_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -250px -292px;
  width: 40px;
  height: 40px;
}
.icon-certificate-kb_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -300px -292px;
  width: 40px;
  height: 40px;
}
.icon-certificate-none {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px 0px;
  width: 40px;
  height: 40px;
}
.icon-chart-card {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -90px;
  width: 64px;
  height: 64px;
}
.icon-check-agreement {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -392px;
  width: 32px;
  height: 32px;
}
.icon-classic-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -477px;
  width: 24px;
  height: 24px;
}
.icon-clock {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -318px;
  width: 20px;
  height: 20px;
}
.icon-cloud-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -198px -164px;
  width: 24px;
  height: 24px;
}
.icon-coin-won {
  background-image: url(../images/sprite/sprite.png);
  background-position: -368px -342px;
  width: 24px;
  height: 24px;
}
.icon-complete_60 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -164px;
  width: 60px;
  height: 60px;
}
.icon-connected {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -518px;
  width: 24px;
  height: 24px;
}
.icon-credit-board {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -392px;
  width: 32px;
  height: 32px;
}
.icon-credit-chart {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -392px;
  width: 32px;
  height: 32px;
}
.icon-credit-expense {
  background-image: url(../images/sprite/sprite.png);
  background-position: -144px -90px;
  width: 10px;
  height: 10px;
}
.icon-credit-income {
  background-image: url(../images/sprite/sprite.png);
  background-position: -144px -110px;
  width: 10px;
  height: 10px;
}
.icon-credit-tip {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -392px;
  width: 32px;
  height: 32px;
}
.icon-credit-trans {
  background-image: url(../images/sprite/sprite.png);
  background-position: -144px -130px;
  width: 10px;
  height: 10px;
}
.icon-culture {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -392px;
  width: 32px;
  height: 32px;
}
.icon-curation {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -392px;
  width: 32px;
  height: 32px;
}
.icon-data-clear_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -518px;
  width: 24px;
  height: 24px;
}
.icon-delay-connection {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -50px;
  width: 40px;
  height: 40px;
}
.icon-detail-view_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -518px;
  width: 24px;
  height: 24px;
}
.icon-diagnosis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px 0px;
  width: 32px;
  height: 32px;
}
.icon-domestic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -518px;
  width: 24px;
  height: 24px;
}
.icon-down {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -518px;
  width: 24px;
  height: 24px;
}
.icon-educational-cost {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -42px;
  width: 32px;
  height: 32px;
}
.icon-event-fee {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -84px;
  width: 32px;
  height: 32px;
}
.icon-facebook_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -234px;
  width: 48px;
  height: 48px;
}
.icon-facebook_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -234px;
  width: 48px;
  height: 48px;
}
.icon-file {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -126px;
  width: 32px;
  height: 32px;
}
.icon-finance-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -168px;
  width: 32px;
  height: 32px;
}
.icon-finance-gauge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -210px;
  width: 32px;
  height: 32px;
}
.icon-finance-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -252px;
  width: 32px;
  height: 32px;
}
.icon-finance-report {
  background-image: url(../images/sprite/sprite.png);
  background-position: -70px -164px;
  width: 60px;
  height: 60px;
}
.icon-finance-safe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -294px;
  width: 32px;
  height: 32px;
}
.icon-finance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -336px;
  width: 32px;
  height: 32px;
}
.icon-folder {
  background-image: url(../images/sprite/sprite.png);
  background-position: -446px -378px;
  width: 32px;
  height: 32px;
}
.icon-food {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -434px;
  width: 32px;
  height: 32px;
}
.icon-function {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -434px;
  width: 32px;
  height: 32px;
}
.icon-future {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -434px;
  width: 32px;
  height: 32px;
}
.icon-go_detail_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -518px;
  width: 24px;
  height: 24px;
}
.icon-goal_compare {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -434px;
  width: 32px;
  height: 32px;
}
.icon-goal_grudge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -434px;
  width: 32px;
  height: 32px;
}
.icon-goal_spend {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -434px;
  width: 32px;
  height: 32px;
}
.icon-guarantee {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -434px;
  width: 32px;
  height: 32px;
}
.icon-hide-account {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -348px;
  width: 20px;
  height: 20px;
}
.icon-home_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -518px;
  width: 24px;
  height: 24px;
}
.icon-house_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -434px;
  width: 32px;
  height: 32px;
}
.icon-housing-expense {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -434px;
  width: 32px;
  height: 32px;
}
.icon-income_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -462px -434px;
  width: 10px;
  height: 10px;
}
.icon-income_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -392px;
  width: 15px;
  height: 15px;
}
.icon-info_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -234px;
  width: 48px;
  height: 48px;
}
.icon-infouser_kb {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -100px;
  width: 40px;
  height: 40px;
}
.icon-infouser_not_kb {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -150px;
  width: 40px;
  height: 40px;
}
.icon-insurance_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -518px;
  width: 24px;
  height: 24px;
}
.icon-interest_rate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -434px;
  width: 32px;
  height: 32px;
}
.icon-introduce {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -434px;
  width: 32px;
  height: 32px;
}
.icon-kakao_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -200px;
  width: 40px;
  height: 40px;
}
.icon-kakao_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -232px -234px;
  width: 48px;
  height: 48px;
}
.icon-kakao_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -296px 0px;
  width: 48px;
  height: 48px;
}
.icon-kb-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -518px;
  width: 24px;
  height: 24px;
}
.icon-legend_circle_yellow {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -528px;
  width: 20px;
  height: 12px;
}
.icon-legend_square_apricot {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -140px;
  width: 20px;
  height: 12px;
}
.icon-legend_square_blue {
  background-image: url(../images/sprite/sprite.png);
  background-position: -60px -552px;
  width: 20px;
  height: 9px;
}
.icon-legend_triangle_cherry {
  background-image: url(../images/sprite/sprite.png);
  background-position: -198px -140px;
  width: 20px;
  height: 12px;
}
.icon-legend_triangle_pink {
  background-image: url(../images/sprite/sprite.png);
  background-position: -198px -198px;
  width: 20px;
  height: 12px;
}
.icon-liiv-talktalk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -296px -58px;
  width: 48px;
  height: 48px;
}
.icon-link-arrow-bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -378px;
  width: 20px;
  height: 20px;
}
.icon-link_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -518px;
  width: 24px;
  height: 24px;
}
.icon-loan-cal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px 0px;
  width: 32px;
  height: 32px;
}
.icon-loan-human {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -42px;
  width: 32px;
  height: 32px;
}
.icon-loan-pay {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -84px;
  width: 32px;
  height: 32px;
}
.icon-medical-expenses {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -126px;
  width: 32px;
  height: 32px;
}
.icon-mn_asset {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -168px;
  width: 32px;
  height: 32px;
}
.icon-mn_counseling {
  background-image: url(../images/sprite/sprite.png);
  background-position: -354px -250px;
  width: 40px;
  height: 40px;
}
.icon-mn_domestic {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -342px;
  width: 40px;
  height: 40px;
}
.icon-mn_mydata {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -210px;
  width: 32px;
  height: 32px;
}
.icon-mn_notice {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -252px;
  width: 32px;
  height: 32px;
}
.icon-mn_overseas {
  background-image: url(../images/sprite/sprite.png);
  background-position: -50px -342px;
  width: 40px;
  height: 40px;
}
.icon-mn_report {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -294px;
  width: 32px;
  height: 32px;
}
.icon-more_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -518px;
  width: 24px;
  height: 24px;
}
.icon-move {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -408px;
  width: 20px;
  height: 20px;
}
.icon-myfundata-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -336px;
  width: 32px;
  height: 32px;
}
.icon-myfundata-safebox {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -378px;
  width: 32px;
  height: 32px;
}
.icon-naver_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -100px -342px;
  width: 40px;
  height: 40px;
}
.icon-payment {
  background-image: url(../images/sprite/sprite.png);
  background-position: -488px -420px;
  width: 32px;
  height: 32px;
}
.icon-pdf_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -438px;
  width: 20px;
  height: 20px;
}
.icon-pencil {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -468px;
  width: 20px;
  height: 20px;
}
.icon-period {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -476px;
  width: 32px;
  height: 32px;
}
.icon-personal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -476px;
  width: 32px;
  height: 32px;
}
.icon-phishing-insurance01_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -476px;
  width: 32px;
  height: 32px;
}
.icon-phishing-insurance02_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -476px;
  width: 32px;
  height: 32px;
}
.icon-phishing-insurance03_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -476px;
  width: 32px;
  height: 32px;
}
.icon-phone {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -476px;
  width: 32px;
  height: 32px;
}
.icon-pick {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -476px;
  width: 32px;
  height: 32px;
}
.icon-plus_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -498px;
  width: 20px;
  height: 20px;
}
.icon-point {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -518px;
  width: 24px;
  height: 24px;
}
.icon-portrait {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -476px;
  width: 32px;
  height: 32px;
}
.icon-price {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -476px;
  width: 32px;
  height: 32px;
}
.icon-push {
  background-image: url(../images/sprite/sprite.png);
  background-position: -544px -518px;
  width: 17px;
  height: 17px;
}
.icon-quiz {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -476px;
  width: 32px;
  height: 32px;
}
.icon-register_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -476px;
  width: 32px;
  height: 32px;
}
.icon-remittance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -462px -476px;
  width: 32px;
  height: 32px;
}
.icon-repayment {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px 0px;
  width: 32px;
  height: 32px;
}
.icon-reregister_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -42px;
  width: 32px;
  height: 32px;
}
.icon-routine {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -518px;
  width: 24px;
  height: 24px;
}
.icon-safebank {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -84px;
  width: 32px;
  height: 32px;
}
.icon-save_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -518px;
  width: 24px;
  height: 24px;
}
.icon-saving {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -126px;
  width: 32px;
  height: 32px;
}
.icon-search {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -136px;
  width: 22px;
  height: 22px;
}
.icon-service {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -168px;
  width: 32px;
  height: 32px;
}
.icon-setting_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -518px;
  width: 24px;
  height: 24px;
}
.icon-share {
  background-image: url(../images/sprite/sprite.png);
  background-position: -510px -518px;
  width: 24px;
  height: 24px;
}
.icon-share_type2_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -342px;
  width: 40px;
  height: 40px;
}
.icon-shield {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px 0px;
  width: 24px;
  height: 24px;
}
.icon-shopping {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -210px;
  width: 32px;
  height: 32px;
}
.icon-sms_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -296px -116px;
  width: 48px;
  height: 48px;
}
.icon-sms_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -296px -174px;
  width: 48px;
  height: 48px;
}
.icon-star-arrow_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -34px;
  width: 24px;
  height: 24px;
}
.icon-star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -336px;
  width: 29px;
  height: 29px;
}
.icon-sticker-close_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -552px;
  width: 20px;
  height: 20px;
}
.icon-stock_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -252px;
  width: 32px;
  height: 32px;
}
.icon-tel_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -68px;
  width: 24px;
  height: 24px;
}
.icon-tip_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -572px -102px;
  width: 24px;
  height: 24px;
}
.icon-tooltip-que_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -30px -552px;
  width: 20px;
  height: 20px;
}
.icon-traffic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -530px -294px;
  width: 32px;
  height: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-add_68 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-add_type2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-add_type2_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-apple {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-apple_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-apt_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-arrow-down_blue_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-arrow-up_red_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-debt-2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-debt {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-deposit {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-estate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-etc {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-finance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-forex {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-fund {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-insurance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-invest {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-pay {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-point {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-safe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-save {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-asset-trust {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-band_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-band_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bang_20_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bang_20_wh {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bang_48_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bang_60_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bang_60_red {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bell2_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-bell4_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-calendar_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-calendar_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-car-my_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-car-wish_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-card-fail {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-card-plus {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-active {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-co_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-expire {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-fin_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-kb_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-certificate-none {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-chart-card {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-check-agreement {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-classic-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-clock {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-cloud-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-coin-won {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-complete_60 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-connected {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-board {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-chart {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-expense {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-income {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-tip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-credit-trans {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-culture {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-curation {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-data-clear_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-delay-connection {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-detail-view_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-diagnosis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-domestic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-down {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-educational-cost {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-event-fee {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-facebook_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-facebook_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-file {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance-gauge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance-report {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance-safe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-finance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-folder {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-food {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-function {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-future {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-go_detail_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-goal_compare {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-goal_grudge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-goal_spend {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-guarantee {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-hide-account {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-home_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-house_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-housing-expense {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-income_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-income_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-info_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-infouser_kb {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-infouser_not_kb {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-insurance_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-interest_rate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-introduce {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-kakao_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-kakao_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-kakao_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-kb-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-legend_circle_yellow {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-legend_square_apricot {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-legend_square_blue {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-legend_triangle_cherry {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-legend_triangle_pink {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-liiv-talktalk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-link-arrow-bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-link_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-loan-cal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-loan-human {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-loan-pay {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-medical-expenses {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_asset {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_counseling {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_domestic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_mydata {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_notice {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_overseas {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-mn_report {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-more_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-move {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-myfundata-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-myfundata-safebox {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-naver_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-payment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-pdf_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-pencil {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-period {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-personal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-phishing-insurance01_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-phishing-insurance02_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-phishing-insurance03_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-phone {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-pick {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-plus_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-point {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-portrait {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-price {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-push {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-quiz {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-register_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-remittance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-repayment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-reregister_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-routine {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-safebank {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-save_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-saving {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-search {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-service {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-setting_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-share {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-share_type2_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-shield {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-shopping {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-sms_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-sms_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-star-arrow_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-sticker-close_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-stock_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-tel_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-tip_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-tooltip-que_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
  .icon-traffic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 596px 572px;
  }
}
