/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add_68 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 68px;
  height: 68px;
}
.icon-add_type2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -78px 0px;
  width: 60px;
  height: 60px;
}
.icon-add_type2_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -148px;
  width: 48px;
  height: 48px;
}
.icon-add_type3_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -148px;
  width: 48px;
  height: 48px;
}
.icon-add_type4_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -200px;
  width: 32px;
  height: 32px;
}
.icon-apple_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -264px;
  width: 40px;
  height: 40px;
}
.icon-apt_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -242px;
  width: 32px;
  height: 32px;
}
.icon-arrow-down_blue_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -406px;
  width: 20px;
  height: 20px;
}
.icon-arrow-up_red_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -436px;
  width: 20px;
  height: 20px;
}
.icon-asset-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -284px;
  width: 32px;
  height: 32px;
}
.icon-asset-debt-2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -326px;
  width: 32px;
  height: 32px;
}
.icon-asset-debt {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -148px;
  width: 32px;
  height: 32px;
}
.icon-asset-deposit {
  background-image: url(../images/sprite/sprite.png);
  background-position: -232px -206px;
  width: 32px;
  height: 32px;
}
.icon-asset-estate {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-etc {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-finance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-forex {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-fund {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-insurance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-insurance2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-invest {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-pay {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -372px;
  width: 32px;
  height: 32px;
}
.icon-asset-point {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px 0px;
  width: 32px;
  height: 32px;
}
.icon-asset-safe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -42px;
  width: 32px;
  height: 32px;
}
.icon-asset-save {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -84px;
  width: 32px;
  height: 32px;
}
.icon-asset-trust {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -126px;
  width: 32px;
  height: 32px;
}
.icon-band_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -148px;
  width: 48px;
  height: 48px;
}
.icon-band_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -218px 0px;
  width: 48px;
  height: 48px;
}
.icon-bang_48_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -218px -58px;
  width: 48px;
  height: 48px;
}
.icon-bang_60_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -78px;
  width: 60px;
  height: 60px;
}
.icon-bang_60_red {
  background-image: url(../images/sprite/sprite.png);
  background-position: -70px -78px;
  width: 60px;
  height: 60px;
}
.icon-bell2_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -462px;
  width: 24px;
  height: 24px;
}
.icon-bell4_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -420px;
  width: 24px;
  height: 24px;
}
.icon-btn-top {
  background-image: url(../images/sprite/sprite.png);
  background-position: -224px -264px;
  width: 40px;
  height: 40px;
}
.icon-calendar_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -466px;
  width: 20px;
  height: 20px;
}
.icon-camera {
  background-image: url(../images/sprite/sprite.png);
  background-position: -274px -264px;
  width: 40px;
  height: 40px;
}
.icon-card-plus {
  background-image: url(../images/sprite/sprite.png);
  background-position: -218px -116px;
  width: 48px;
  height: 48px;
}
.icon-certificate-active {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px 0px;
  width: 40px;
  height: 40px;
}
.icon-certificate-co_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -50px;
  width: 40px;
  height: 40px;
}
.icon-certificate-expire {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -100px;
  width: 40px;
  height: 40px;
}
.icon-certificate-fin_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -150px;
  width: 40px;
  height: 40px;
}
.icon-certificate-kb_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -200px;
  width: 40px;
  height: 40px;
}
.icon-certificate-kb_circle {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -250px;
  width: 40px;
  height: 40px;
}
.icon-certificate-none {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -322px;
  width: 40px;
  height: 40px;
}
.icon-check-agreement {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -168px;
  width: 32px;
  height: 32px;
}
.icon-classic-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -378px;
  width: 24px;
  height: 24px;
}
.icon-clock {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -496px;
  width: 20px;
  height: 20px;
}
.icon-cloud-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -350px -322px;
  width: 24px;
  height: 24px;
}
.icon-coin-won {
  background-image: url(../images/sprite/sprite.png);
  background-position: -417px -498px;
  width: 24px;
  height: 24px;
}
.icon-complete_60 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -148px 0px;
  width: 60px;
  height: 60px;
}
.icon-credit-board {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -210px;
  width: 32px;
  height: 32px;
}
.icon-credit-chart {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -252px;
  width: 32px;
  height: 32px;
}
.icon-credit-expense {
  background-image: url(../images/sprite/sprite.png);
  background-position: -364px -300px;
  width: 10px;
  height: 10px;
}
.icon-credit-income {
  background-image: url(../images/sprite/sprite.png);
  background-position: -248px -174px;
  width: 10px;
  height: 10px;
}
.icon-credit-tip {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -294px;
  width: 32px;
  height: 32px;
}
.icon-credit-trans {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -570px;
  width: 10px;
  height: 10px;
}
.icon-culture {
  background-image: url(../images/sprite/sprite.png);
  background-position: -434px -336px;
  width: 32px;
  height: 32px;
}
.icon-curation {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -414px;
  width: 32px;
  height: 32px;
}
.icon-data-clear_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -451px -498px;
  width: 24px;
  height: 24px;
}
.icon-delay-connection {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -206px;
  width: 48px;
  height: 48px;
}
.icon-diagnosis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -414px;
  width: 32px;
  height: 32px;
}
.icon-down {
  background-image: url(../images/sprite/sprite.png);
  background-position: -485px -498px;
  width: 24px;
  height: 24px;
}
.icon-educational-cost {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -414px;
  width: 32px;
  height: 32px;
}
.icon-event-fee {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -414px;
  width: 32px;
  height: 32px;
}
.icon-facebook_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -206px;
  width: 48px;
  height: 48px;
}
.icon-facebook_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -206px;
  width: 48px;
  height: 48px;
}
.icon-file {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-car_dis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-gauge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-gauge_dis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-house_dis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -414px;
  width: 32px;
  height: 32px;
}
.icon-finance-link {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px 0px;
  width: 32px;
  height: 32px;
}
.icon-finance-report {
  background-image: url(../images/sprite/sprite.png);
  background-position: -148px -70px;
  width: 60px;
  height: 60px;
}
.icon-finance-safe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -42px;
  width: 32px;
  height: 32px;
}
.icon-finance-safe_dis {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -84px;
  width: 32px;
  height: 32px;
}
.icon-finance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -126px;
  width: 32px;
  height: 32px;
}
.icon-folder {
  background-image: url(../images/sprite/sprite.png);
  background-position: -50px -322px;
  width: 40px;
  height: 40px;
}
.icon-food {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -168px;
  width: 32px;
  height: 32px;
}
.icon-function {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -210px;
  width: 32px;
  height: 32px;
}
.icon-future {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -252px;
  width: 32px;
  height: 32px;
}
.icon-go_detail_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -519px -498px;
  width: 24px;
  height: 24px;
}
.icon-goal_compare {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -294px;
  width: 32px;
  height: 32px;
}
.icon-goal_grudge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -336px;
  width: 32px;
  height: 32px;
}
.icon-goal_spend {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -378px;
  width: 32px;
  height: 32px;
}
.icon-hide-account {
  background-image: url(../images/sprite/sprite.png);
  background-position: -276px -232px;
  width: 20px;
  height: 20px;
}
.icon-home_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px 0px;
  width: 24px;
  height: 24px;
}
.icon-house_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -456px;
  width: 32px;
  height: 32px;
}
.icon-housing-expense {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -456px;
  width: 32px;
  height: 32px;
}
.icon-info_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -206px;
  width: 48px;
  height: 48px;
}
.icon-infouser_kb {
  background-image: url(../images/sprite/sprite.png);
  background-position: -100px -322px;
  width: 40px;
  height: 40px;
}
.icon-infouser_not_kb {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -322px;
  width: 40px;
  height: 40px;
}
.icon-insurance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -456px;
  width: 32px;
  height: 32px;
}
.icon-interest_rate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -456px;
  width: 32px;
  height: 32px;
}
.icon-introduce {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -456px;
  width: 32px;
  height: 32px;
}
.icon-kakao_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -200px -322px;
  width: 40px;
  height: 40px;
}
.icon-kakao_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -276px 0px;
  width: 48px;
  height: 48px;
}
.icon-kakao_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -276px -58px;
  width: 48px;
  height: 48px;
}
.icon-kb-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -34px;
  width: 24px;
  height: 24px;
}
.icon-kb-join_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -276px -116px;
  width: 48px;
  height: 48px;
}
.icon-kb-phone {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -456px;
  width: 32px;
  height: 32px;
}
.icon-legend_circle_blue {
  background-image: url(../images/sprite/sprite.png);
  background-position: -390px -540px;
  width: 20px;
  height: 9px;
}
.icon-legend_circle_yellow {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -300px;
  width: 20px;
  height: 12px;
}
.icon-legend_diamond_yellow {
  background-image: url(../images/sprite/sprite.png);
  background-position: -240px -540px;
  width: 20px;
  height: 13px;
}
.icon-legend_dot_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -20px -570px;
  width: 10px;
  height: 10px;
}
.icon-legend_dot_yellow {
  background-image: url(../images/sprite/sprite.png);
  background-position: -40px -570px;
  width: 10px;
  height: 10px;
}
.icon-legend_square_apricot {
  background-image: url(../images/sprite/sprite.png);
  background-position: -270px -540px;
  width: 20px;
  height: 12px;
}
.icon-legend_square_blue {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -540px;
  width: 20px;
  height: 9px;
}
.icon-legend_triangle_cherry {
  background-image: url(../images/sprite/sprite.png);
  background-position: -300px -540px;
  width: 20px;
  height: 12px;
}
.icon-legend_triangle_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -330px -540px;
  width: 20px;
  height: 12px;
}
.icon-legend_triangle_pink {
  background-image: url(../images/sprite/sprite.png);
  background-position: -360px -540px;
  width: 20px;
  height: 12px;
}
.icon-liiv-talktalk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -276px -174px;
  width: 48px;
  height: 48px;
}
.icon-link-1organ_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -264px;
  width: 48px;
  height: 48px;
}
.icon-link-arrow-bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -218px -174px;
  width: 20px;
  height: 20px;
}
.icon-link_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -68px;
  width: 24px;
  height: 24px;
}
.icon-loan-cal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -456px;
  width: 32px;
  height: 32px;
}
.icon-loan-human {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -456px;
  width: 32px;
  height: 32px;
}
.icon-loan-pay {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -456px;
  width: 32px;
  height: 32px;
}
.icon-logout {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -102px;
  width: 24px;
  height: 24px;
}
.icon-medical-expenses {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -456px;
  width: 32px;
  height: 32px;
}
.icon-mn_asset {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -456px;
  width: 32px;
  height: 32px;
}
.icon-mn_counseling {
  background-image: url(../images/sprite/sprite.png);
  background-position: -250px -322px;
  width: 40px;
  height: 40px;
}
.icon-mn_domestic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -300px -322px;
  width: 40px;
  height: 40px;
}
.icon-mn_mydata {
  background-image: url(../images/sprite/sprite.png);
  background-position: -462px -456px;
  width: 32px;
  height: 32px;
}
.icon-mn_notice {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px 0px;
  width: 32px;
  height: 32px;
}
.icon-mn_overseas {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px 0px;
  width: 40px;
  height: 40px;
}
.icon-mn_report {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -42px;
  width: 32px;
  height: 32px;
}
.icon-money-check {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -84px;
  width: 32px;
  height: 32px;
}
.icon-more_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -136px;
  width: 24px;
  height: 24px;
}
.icon-move {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -540px;
  width: 20px;
  height: 20px;
}
.icon-myfundata-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -126px;
  width: 32px;
  height: 32px;
}
.icon-myfundata-safebox {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -168px;
  width: 32px;
  height: 32px;
}
.icon-naver_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -50px;
  width: 40px;
  height: 40px;
}
.icon-pdf_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -30px -540px;
  width: 20px;
  height: 20px;
}
.icon-pencil {
  background-image: url(../images/sprite/sprite.png);
  background-position: -60px -540px;
  width: 20px;
  height: 20px;
}
.icon-period {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -210px;
  width: 32px;
  height: 32px;
}
.icon-personal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -252px;
  width: 32px;
  height: 32px;
}
.icon-phone {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -100px;
  width: 40px;
  height: 40px;
}
.icon-pick {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -294px;
  width: 32px;
  height: 32px;
}
.icon-plus_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -90px -540px;
  width: 20px;
  height: 20px;
}
.icon-point {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -170px;
  width: 24px;
  height: 24px;
}
.icon-portrait {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -336px;
  width: 32px;
  height: 32px;
}
.icon-price {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -378px;
  width: 32px;
  height: 32px;
}
.icon-push {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -232px;
  width: 17px;
  height: 17px;
}
.icon-quiz {
  background-image: url(../images/sprite/sprite.png);
  background-position: -518px -420px;
  width: 32px;
  height: 32px;
}
.icon-refresh {
  background-image: url(../images/sprite/sprite.png);
  background-position: -120px -540px;
  width: 20px;
  height: 20px;
}
.icon-refresh_wh {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -540px;
  width: 20px;
  height: 20px;
}
.icon-register_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -498px;
  width: 32px;
  height: 32px;
}
.icon-remittance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -498px;
  width: 32px;
  height: 32px;
}
.icon-repayment {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -498px;
  width: 32px;
  height: 32px;
}
.icon-reregister_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -498px;
  width: 32px;
  height: 32px;
}
.icon-safebank {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -498px;
  width: 32px;
  height: 32px;
}
.icon-saving {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -498px;
  width: 32px;
  height: 32px;
}
.icon-search {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -374px;
  width: 22px;
  height: 22px;
}
.icon-service {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -498px;
  width: 32px;
  height: 32px;
}
.icon-setting_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -204px;
  width: 24px;
  height: 24px;
}
.icon-share {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -238px;
  width: 24px;
  height: 24px;
}
.icon-share_type2_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -384px -150px;
  width: 40px;
  height: 40px;
}
.icon-shield {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -272px;
  width: 24px;
  height: 24px;
}
.icon-shopping {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -498px;
  width: 32px;
  height: 32px;
}
.icon-sms_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -264px;
  width: 48px;
  height: 48px;
}
.icon-sms_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -264px;
  width: 48px;
  height: 48px;
}
.icon-speach-bubble_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -306px;
  width: 24px;
  height: 24px;
}
.icon-star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -498px;
  width: 29px;
  height: 29px;
}
.icon-sticker-close_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -180px -540px;
  width: 20px;
  height: 20px;
}
.icon-tel_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -560px -340px;
  width: 24px;
  height: 24px;
}
.icon-tooltip-que_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -540px;
  width: 20px;
  height: 20px;
}
.icon-traffic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -336px -498px;
  width: 32px;
  height: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-add_68 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-add_type2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-add_type2_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-add_type3_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-add_type4_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-apple_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-apt_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-arrow-down_blue_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-arrow-up_red_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-debt-2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-debt {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-deposit {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-estate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-etc {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-finance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-forex {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-fund {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-insurance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-insurance2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-invest {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-pay {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-point {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-safe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-save {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-asset-trust {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-band_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-band_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-bang_48_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-bang_60_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-bang_60_red {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-bell2_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-bell4_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-btn-top {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-calendar_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-camera {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-card-plus {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-active {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-co_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-expire {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-fin_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-kb_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-kb_circle {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-certificate-none {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-check-agreement {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-classic-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-clock {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-cloud-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-coin-won {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-complete_60 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-board {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-chart {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-expense {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-income {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-tip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-credit-trans {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-culture {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-curation {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-data-clear_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-delay-connection {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-diagnosis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-down {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-educational-cost {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-event-fee {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-facebook_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-facebook_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-file {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-car_dis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-gauge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-gauge_dis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-house_dis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-link {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-report {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-safe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance-safe_dis {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-finance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-folder {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-food {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-function {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-future {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-go_detail_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-goal_compare {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-goal_grudge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-goal_spend {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-hide-account {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-home_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-house_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-housing-expense {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-info_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-infouser_kb {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-infouser_not_kb {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-insurance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-interest_rate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-introduce {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kakao_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kakao_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kakao_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kb-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kb-join_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-kb-phone {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_circle_blue {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_circle_yellow {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_diamond_yellow {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_dot_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_dot_yellow {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_square_apricot {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_square_blue {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_triangle_cherry {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_triangle_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-legend_triangle_pink {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-liiv-talktalk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-link-1organ_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-link-arrow-bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-link_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-loan-cal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-loan-human {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-loan-pay {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-logout {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-medical-expenses {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_asset {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_counseling {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_domestic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_mydata {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_notice {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_overseas {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-mn_report {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-money-check {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-more_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-move {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-myfundata-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-myfundata-safebox {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-naver_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-pdf_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-pencil {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-period {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-personal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-phone {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-pick {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-plus_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-point {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-portrait {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-price {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-push {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-quiz {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-refresh {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-refresh_wh {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-register_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-remittance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-repayment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-reregister_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-safebank {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-saving {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-search {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-service {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-setting_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-share {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-share_type2_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-shield {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-shopping {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-sms_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-sms_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-speach-bubble_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-sticker-close_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-tel_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-tooltip-que_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
  .icon-traffic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 584px 580px;
  }
}
