/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-data_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -347px;
  width: 24px;
  height: 24px;
}
.icon-add_68 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 68px;
  height: 68px;
}
.icon-add_type2 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -152px;
  width: 60px;
  height: 60px;
}
.icon-apartment_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -381px;
  width: 24px;
  height: 24px;
}
.icon-apt_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -287px -232px;
  width: 32px;
  height: 32px;
}
.icon-assets_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -300px;
  width: 24px;
  height: 24px;
}
.icon-band {
  background-image: url(../images/sprite/sprite.png);
  background-position: -226px -183px;
  width: 24px;
  height: 24px;
}
.icon-band_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -222px;
  width: 48px;
  height: 48px;
}
.icon-band_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -222px;
  width: 48px;
  height: 48px;
}
.icon-bang_20_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -295px;
  width: 20px;
  height: 20px;
}
.icon-bang_20_wh {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -325px;
  width: 20px;
  height: 20px;
}
.icon-bang_24_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -430px;
  width: 24px;
  height: 24px;
}
.icon-bang_28_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -118px;
  width: 28px;
  height: 28px;
}
.icon-bang_48_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -222px;
  width: 48px;
  height: 48px;
}
.icon-bang_60_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -70px -152px;
  width: 60px;
  height: 60px;
}
.icon-bell2_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -430px;
  width: 24px;
  height: 24px;
}
.icon-bell3_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -430px;
  width: 24px;
  height: 24px;
}
.icon-calc_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -78px 0px;
  width: 64px;
  height: 64px;
}
.icon-calendar {
  background-image: url(../images/sprite/sprite.png);
  background-position: -330px -566px;
  width: 18px;
  height: 18px;
}
.icon-calendar_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -355px;
  width: 20px;
  height: 20px;
}
.icon-calendar_20_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -385px;
  width: 20px;
  height: 20px;
}
.icon-call {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -430px;
  width: 24px;
  height: 24px;
}
.icon-car-my_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -232px -222px;
  width: 40px;
  height: 40px;
}
.icon-car-wish_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -290px -280px;
  width: 40px;
  height: 40px;
}
.icon-car_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -430px;
  width: 24px;
  height: 24px;
}
.icon-car_28 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -156px;
  width: 28px;
  height: 28px;
}
.icon-card-fail {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -222px;
  width: 48px;
  height: 48px;
}
.icon-card-plus {
  background-image: url(../images/sprite/sprite.png);
  background-position: -287px 0px;
  width: 48px;
  height: 48px;
}
.icon-certificate-active {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px 0px;
  width: 40px;
  height: 40px;
}
.icon-certificate-expire {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -50px;
  width: 40px;
  height: 40px;
}
.icon-certificate-none {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -100px;
  width: 40px;
  height: 40px;
}
.icon-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -430px;
  width: 24px;
  height: 24px;
}
.icon-chart-card {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -78px;
  width: 64px;
  height: 64px;
}
.icon-check-agreement {
  background-image: url(../images/sprite/sprite.png);
  background-position: -100px -338px;
  width: 32px;
  height: 32px;
}
.icon-classic-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -430px;
  width: 24px;
  height: 24px;
}
.icon-clock {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -430px;
  width: 24px;
  height: 24px;
}
.icon-cloud-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -430px;
  width: 24px;
  height: 24px;
}
.icon-coin-won {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -430px;
  width: 24px;
  height: 24px;
}
.icon-comment {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -267px;
  width: 24px;
  height: 18px;
}
.icon-complete_60 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -140px -152px;
  width: 60px;
  height: 60px;
}
.icon-connected {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -430px;
  width: 24px;
  height: 24px;
}
.icon-copy {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -415px;
  width: 20px;
  height: 20px;
}
.icon-currency_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -430px;
  width: 24px;
  height: 24px;
}
.icon-data-clear_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -430px;
  width: 24px;
  height: 24px;
}
.icon-debt_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -430px;
  width: 24px;
  height: 24px;
}
.icon-delay_40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -150px;
  width: 40px;
  height: 40px;
}
.icon-detail-view_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px 0px;
  width: 24px;
  height: 24px;
}
.icon-doc_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -34px;
  width: 24px;
  height: 24px;
}
.icon-domestic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -68px;
  width: 24px;
  height: 24px;
}
.icon-down {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -102px;
  width: 24px;
  height: 24px;
}
.icon-drag-handle_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -445px;
  width: 20px;
  height: 20px;
}
.icon-earth {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -136px;
  width: 24px;
  height: 24px;
}
.icon-eraser {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -475px;
  width: 20px;
  height: 20px;
}
.icon-estate_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -170px;
  width: 24px;
  height: 24px;
}
.icon-expense-4th-insurance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -142px -338px;
  width: 32px;
  height: 32px;
}
.icon-expense-aso {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -204px;
  width: 24px;
  height: 24px;
}
.icon-expense-auto-charge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -238px;
  width: 24px;
  height: 24px;
}
.icon-expense-baby {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -272px;
  width: 24px;
  height: 24px;
}
.icon-expense-beauty {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -306px;
  width: 24px;
  height: 24px;
}
.icon-expense-business {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -340px;
  width: 24px;
  height: 24px;
}
.icon-expense-cafe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -374px;
  width: 24px;
  height: 24px;
}
.icon-expense-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -408px;
  width: 24px;
  height: 24px;
}
.icon-expense-care {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-category {
  background-image: url(../images/sprite/sprite.png);
  background-position: -184px -338px;
  width: 32px;
  height: 32px;
}
.icon-expense-culture {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-delivery {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-deposit {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-donation {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-drink {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-edu {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-etc {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-fashion {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-finance-income {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-finance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -226px -338px;
  width: 32px;
  height: 32px;
}
.icon-expense-food {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-insurance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-investment {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-lease {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-living {
  background-image: url(../images/sprite/sprite.png);
  background-position: -268px -338px;
  width: 32px;
  height: 32px;
}
.icon-expense-loan {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -464px;
  width: 24px;
  height: 24px;
}
.icon-expense-maintenance-fees {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px 0px;
  width: 24px;
  height: 24px;
}
.icon-expense-medical {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -34px;
  width: 24px;
  height: 24px;
}
.icon-expense-membership-fee {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -68px;
  width: 24px;
  height: 24px;
}
.icon-expense-pet {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -102px;
  width: 24px;
  height: 24px;
}
.icon-expense-pocket-money {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -136px;
  width: 24px;
  height: 24px;
}
.icon-expense-rental {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -170px;
  width: 24px;
  height: 24px;
}
.icon-expense-salary {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -204px;
  width: 24px;
  height: 24px;
}
.icon-expense-saving {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -238px;
  width: 24px;
  height: 24px;
}
.icon-expense-shopping {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -272px;
  width: 24px;
  height: 24px;
}
.icon-expense-tell {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -306px;
  width: 24px;
  height: 24px;
}
.icon-expense-traffic {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -340px;
  width: 24px;
  height: 24px;
}
.icon-expense-travel {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -374px;
  width: 24px;
  height: 24px;
}
.icon-expense-utility-bill {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -408px;
  width: 24px;
  height: 24px;
}
.icon-expense-vod {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -442px;
  width: 24px;
  height: 24px;
}
.icon-expense-withdraw {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -498px;
  width: 24px;
  height: 24px;
}
.icon-expense_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -510px;
  width: 10px;
  height: 10px;
}
.icon-expense_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -358px -566px;
  width: 15px;
  height: 15px;
}
.icon-facebook_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -287px -58px;
  width: 48px;
  height: 48px;
}
.icon-facebook_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -287px -116px;
  width: 48px;
  height: 48px;
}
.icon-fb {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -498px;
  width: 24px;
  height: 24px;
}
.icon-file {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -498px;
  width: 24px;
  height: 24px;
}
.icon-filter_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -505px;
  width: 20px;
  height: 20px;
}
.icon-filter_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -498px;
  width: 24px;
  height: 24px;
}
.icon-finace_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -498px;
  width: 24px;
  height: 24px;
}
.icon-finance-car {
  background-image: url(../images/sprite/sprite.png);
  background-position: -310px -338px;
  width: 32px;
  height: 32px;
}
.icon-finance-gauge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -352px -338px;
  width: 32px;
  height: 32px;
}
.icon-finance-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px 0px;
  width: 32px;
  height: 32px;
}
.icon-finance-safe {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -42px;
  width: 32px;
  height: 32px;
}
.icon-finance_28 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -194px;
  width: 28px;
  height: 28px;
}
.icon-folder {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -84px;
  width: 32px;
  height: 32px;
}
.icon-foler {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -126px;
  width: 32px;
  height: 32px;
}
.icon-function {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -168px;
  width: 32px;
  height: 32px;
}
.icon-fund_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -498px;
  width: 24px;
  height: 24px;
}
.icon-funnel {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -200px;
  width: 40px;
  height: 40px;
}
.icon-gift_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -498px;
  width: 24px;
  height: 24px;
}
.icon-go_detail_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -498px;
  width: 24px;
  height: 24px;
}
.icon-goal_compare {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -498px;
  width: 24px;
  height: 24px;
}
.icon-goal_grudge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -498px;
  width: 24px;
  height: 24px;
}
.icon-goal_spend {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -498px;
  width: 24px;
  height: 24px;
}
.icon-graph_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -498px;
  width: 24px;
  height: 24px;
}
.icon-guarantee {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -210px;
  width: 32px;
  height: 32px;
}
.icon-half_coin {
  background-image: url(../images/sprite/sprite.png);
  background-position: -226px 0px;
  width: 51px;
  height: 51px;
}
.icon-half_pig {
  background-image: url(../images/sprite/sprite.png);
  background-position: -226px -61px;
  width: 51px;
  height: 51px;
}
.icon-half_pig_27 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -308px;
  width: 27px;
  height: 29px;
}
.icon-half_star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -226px -122px;
  width: 51px;
  height: 51px;
}
.icon-half_star_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -498px;
  width: 24px;
  height: 24px;
}
.icon-home_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -498px;
  width: 24px;
  height: 24px;
}
.icon-house-chimney_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -498px;
  width: 24px;
  height: 24px;
}
.icon-house_28 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -232px;
  width: 28px;
  height: 28px;
}
.icon-house_32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -252px;
  width: 32px;
  height: 32px;
}
.icon-income_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -511px -476px;
  width: 10px;
  height: 10px;
}
.icon-income_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -383px -566px;
  width: 15px;
  height: 15px;
}
.icon-info_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -287px -174px;
  width: 48px;
  height: 48px;
}
.icon-insurance_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -510px -498px;
  width: 24px;
  height: 24px;
}
.icon-interest_rate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -294px;
  width: 32px;
  height: 32px;
}
.icon-introduce {
  background-image: url(../images/sprite/sprite.png);
  background-position: -395px -336px;
  width: 32px;
  height: 32px;
}
.icon-kakao {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px 0px;
  width: 24px;
  height: 24px;
}
.icon-kakao_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -280px;
  width: 48px;
  height: 48px;
}
.icon-kakao_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -58px -280px;
  width: 48px;
  height: 48px;
}
.icon-kb-certificate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -34px;
  width: 24px;
  height: 24px;
}
.icon-liability_28 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -270px;
  width: 28px;
  height: 28px;
}
.icon-link_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -68px;
  width: 24px;
  height: 24px;
}
.icon-link_b_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -102px;
  width: 24px;
  height: 24px;
}
.icon-link_w_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -136px;
  width: 24px;
  height: 24px;
}
.icon-list_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -535px;
  width: 20px;
  height: 20px;
}
.icon-market_conditions_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -170px;
  width: 24px;
  height: 24px;
}
.icon-media_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -204px;
  width: 24px;
  height: 24px;
}
.icon-menu-grey_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -238px;
  width: 24px;
  height: 24px;
}
.icon-mn_asset {
  background-image: url(../images/sprite/sprite.png);
  background-position: -294px -388px;
  width: 30px;
  height: 30px;
}
.icon-mn_counseling {
  background-image: url(../images/sprite/sprite.png);
  background-position: -345px -250px;
  width: 40px;
  height: 40px;
}
.icon-mn_domestic {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -338px;
  width: 40px;
  height: 40px;
}
.icon-mn_mydata {
  background-image: url(../images/sprite/sprite.png);
  background-position: -334px -388px;
  width: 30px;
  height: 30px;
}
.icon-mn_notice {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -388px;
  width: 30px;
  height: 30px;
}
.icon-mn_overseas {
  background-image: url(../images/sprite/sprite.png);
  background-position: -50px -338px;
  width: 40px;
  height: 40px;
}
.icon-mn_report {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px 0px;
  width: 30px;
  height: 30px;
}
.icon-more_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -272px;
  width: 24px;
  height: 24px;
}
.icon-more_top_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -306px;
  width: 24px;
  height: 24px;
}
.icon-move {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -566px;
  width: 20px;
  height: 20px;
}
.icon-movie_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -340px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-culture {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -374px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-future {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -408px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-house {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -442px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-safebank {
  background-image: url(../images/sprite/sprite.png);
  background-position: -545px -476px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-safebox {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -532px;
  width: 24px;
  height: 24px;
}
.icon-myfundata-stock {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -532px;
  width: 24px;
  height: 24px;
}
.icon-pay_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -532px;
  width: 24px;
  height: 24px;
}
.icon-payment {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -388px;
  width: 32px;
  height: 32px;
}
.icon-pdf_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -30px -566px;
  width: 20px;
  height: 20px;
}
.icon-pencil {
  background-image: url(../images/sprite/sprite.png);
  background-position: -60px -566px;
  width: 20px;
  height: 20px;
}
.icon-pension_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -532px;
  width: 24px;
  height: 24px;
}
.icon-period {
  background-image: url(../images/sprite/sprite.png);
  background-position: -42px -388px;
  width: 32px;
  height: 32px;
}
.icon-personal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -84px -388px;
  width: 32px;
  height: 32px;
}
.icon-phone {
  background-image: url(../images/sprite/sprite.png);
  background-position: -126px -388px;
  width: 32px;
  height: 32px;
}
.icon-pick_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -74px -78px;
  width: 64px;
  height: 64px;
}
.icon-pigbank_23 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -236px;
  width: 23px;
  height: 21px;
}
.icon-plus_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -90px -566px;
  width: 20px;
  height: 20px;
}
.icon-point {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -532px;
  width: 24px;
  height: 24px;
}
.icon-portrait {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -532px;
  width: 24px;
  height: 24px;
}
.icon-price {
  background-image: url(../images/sprite/sprite.png);
  background-position: -168px -388px;
  width: 32px;
  height: 32px;
}
.icon-push {
  background-image: url(../images/sprite/sprite.png);
  background-position: -260px -183px;
  width: 17px;
  height: 17px;
}
.icon-quiz_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -152px 0px;
  width: 64px;
  height: 64px;
}
.icon-register_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -532px;
  width: 24px;
  height: 24px;
}
.icon-report_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -532px;
  width: 24px;
  height: 24px;
}
.icon-reregister_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -532px;
  width: 24px;
  height: 24px;
}
.icon-reset_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -120px -566px;
  width: 20px;
  height: 20px;
}
.icon-routine {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -532px;
  width: 24px;
  height: 24px;
}
.icon-save_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -532px;
  width: 24px;
  height: 24px;
}
.icon-search {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -204px;
  width: 22px;
  height: 22px;
}
.icon-search_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -532px;
  width: 24px;
  height: 24px;
}
.icon-service {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -388px;
  width: 32px;
  height: 32px;
}
.icon-setting_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -532px;
  width: 24px;
  height: 24px;
}
.icon-setting_menu_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -532px;
  width: 24px;
  height: 24px;
}
.icon-share {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -532px;
  width: 24px;
  height: 24px;
}
.icon-shield {
  background-image: url(../images/sprite/sprite.png);
  background-position: -510px -532px;
  width: 24px;
  height: 24px;
}
.icon-sms {
  background-image: url(../images/sprite/sprite.png);
  background-position: -544px -532px;
  width: 24px;
  height: 24px;
}
.icon-sms_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -116px -280px;
  width: 48px;
  height: 48px;
}
.icon-sms_sns_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -174px -280px;
  width: 48px;
  height: 48px;
}
.icon-star-arrow_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px 0px;
  width: 24px;
  height: 24px;
}
.icon-star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -40px;
  width: 29px;
  height: 29px;
}
.icon-sticker-close_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -566px;
  width: 20px;
  height: 20px;
}
.icon-stock_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -34px;
  width: 24px;
  height: 24px;
}
.icon-stock_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -152px -74px;
  width: 64px;
  height: 64px;
}
.icon-tel_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -68px;
  width: 24px;
  height: 24px;
}
.icon-tie {
  background-image: url(../images/sprite/sprite.png);
  background-position: -180px -566px;
  width: 20px;
  height: 20px;
}
.icon-tip_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -102px;
  width: 24px;
  height: 24px;
}
.icon-tooltip-que {
  background-image: url(../images/sprite/sprite.png);
  background-position: -252px -388px;
  width: 32px;
  height: 32px;
}
.icon-tooltip-que_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -566px;
  width: 20px;
  height: 20px;
}
.icon-transfer_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -477px -442px;
  width: 10px;
  height: 10px;
}
.icon-transfer_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -566px;
  width: 15px;
  height: 15px;
}
.icon-trash {
  background-image: url(../images/sprite/sprite.png);
  background-position: -240px -566px;
  width: 20px;
  height: 20px;
}
.icon-trophy {
  background-image: url(../images/sprite/sprite.png);
  background-position: -437px -79px;
  width: 28px;
  height: 29px;
}
.icon-trust_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -136px;
  width: 24px;
  height: 24px;
}
.icon-twitter {
  background-image: url(../images/sprite/sprite.png);
  background-position: -579px -170px;
  width: 24px;
  height: 24px;
}
.icon-type_agency_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -270px -566px;
  width: 20px;
  height: 20px;
}
.icon-type_product_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -300px -566px;
  width: 20px;
  height: 20px;
}
.icon-url-copy_48 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -232px -280px;
  width: 48px;
  height: 48px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-add-data_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-add_68 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-add_type2 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-apartment_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-apt_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-assets_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-band {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-band_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-band_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_20_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_20_wh {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_24_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_28_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_48_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bang_60_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bell2_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-bell3_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-calc_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-calendar {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-calendar_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-calendar_20_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-call {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-car-my_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-car-wish_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-car_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-car_28 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-card-fail {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-card-plus {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-certificate-active {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-certificate-expire {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-certificate-none {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-chart-card {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-check-agreement {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-classic-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-clock {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-cloud-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-coin-won {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-comment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-complete_60 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-connected {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-copy {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-currency_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-data-clear_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-debt_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-delay_40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-detail-view_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-doc_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-domestic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-down {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-drag-handle_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-earth {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-eraser {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-estate_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-4th-insurance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-aso {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-auto-charge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-baby {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-beauty {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-business {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-cafe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-care {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-category {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-culture {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-delivery {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-deposit {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-donation {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-drink {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-edu {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-etc {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-fashion {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-finance-income {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-finance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-food {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-insurance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-investment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-lease {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-living {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-loan {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-maintenance-fees {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-medical {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-membership-fee {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-pet {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-pocket-money {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-rental {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-salary {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-saving {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-shopping {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-tell {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-traffic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-travel {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-utility-bill {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-vod {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense-withdraw {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-expense_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-facebook_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-facebook_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-fb {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-file {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-filter_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-filter_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finace_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finance-car {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finance-gauge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finance-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finance-safe {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-finance_28 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-folder {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-foler {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-function {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-fund_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-funnel {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-gift_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-go_detail_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-goal_compare {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-goal_grudge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-goal_spend {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-graph_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-guarantee {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-half_coin {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-half_pig {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-half_pig_27 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-half_star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-half_star_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-home_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-house-chimney_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-house_28 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-house_32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-income_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-income_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-info_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-insurance_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-interest_rate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-introduce {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-kakao {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-kakao_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-kakao_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-kb-certificate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-liability_28 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-link_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-link_b_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-link_w_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-list_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-market_conditions_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-media_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-menu-grey_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_asset {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_counseling {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_domestic {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_mydata {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_notice {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_overseas {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-mn_report {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-more_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-more_top_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-move {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-movie_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-culture {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-future {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-house {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-safebank {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-safebox {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-myfundata-stock {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pay_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-payment {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pdf_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pencil {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pension_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-period {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-personal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-phone {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pick_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-pigbank_23 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-plus_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-point {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-portrait {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-price {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-push {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-quiz_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-register_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-report_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-reregister_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-reset_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-routine {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-save_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-search {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-search_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-service {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-setting_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-setting_menu_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-share {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-shield {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-sms {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-sms_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-sms_sns_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-star-arrow_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-sticker-close_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-stock_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-stock_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-tel_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-tie {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-tip_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-tooltip-que {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-tooltip-que_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-transfer_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-transfer_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-trash {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-trophy {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-trust_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-twitter {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-type_agency_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-type_product_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
  .icon-url-copy_48 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 603px 586px;
  }
}
