.coin-event{}/*perspective:1500px;*/ 
.coin{position:relative;width:120px;height:120px;transition: all .4s ease;}/*transform-style:preserve-3d;*/
.coin .front,
.coin .back{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:50%;display:flex;justify-content:center;align-items:center;color:#fff;opacity:0.5;}/*backface-visibility: hidden;*/
.coin .front{transform:rotateY(0deg);background-color:red;}
.coin .back{transform:rotateY(180deg);background-color:blue;}



.coin{transform:rotateY(180deg)}