
// .roulette{position:relative;width:calc(100vw - 48px);height:calc(100vw - 48px);border-radius:50%;background-color:bisque}
// .roulette li{width:100%;height:100%;}
// .roulette li > a{border-left:1px solid yellow;border-right:1px solid blue;border-top:1px solid red;border-bottom:1px solid green;}
// .roulette li > a{position:absolute;left:0;top:0;width:100%;height:100%;}    
// .roulette li > a:before{content:'';position:absolute;opacity:0.5;width:100%;height:100%;}
// .roulette li:nth-child(1) > a{transform:translate(0, -50%) rotate(90deg);transform-origin:50% 100%;}
// .roulette li:nth-child(1) > a:before{transform:translate(0, 100%) rotate(120deg);transform-origin:50% 0;background:hotpink;}
// .roulette li:nth-child(2) > a{transform:translate(0, 50%) rotate(0deg);}
// .roulette li:nth-child(2) > a:before{transform:translate(0, 0) rotate(30deg);transform-origin:50% 0;background:lightblue;}
// .roulette li:nth-child(3) > a{transform:translate(-50%, 0) rotate(90deg) rotate(0deg);transform-origin:50% 100%;}
// .roulette li:nth-child(3) > a:before{transform:translate(0, 100%) rotate(90deg);transform-origin:50% 0;background:lightgreen;}
// .roulette .wheel{position:relative;width:calc(100vw - 48px);height:calc(100vw - 48px);max-width:300px;height:300px;margin:0 auto;border-radius:50%;background-color:bisque}
// .roulette .wheel li{position:absolute;top:0;left:0;width:100%;height:100%;transform-origin:50% 50%;}/*border-radius:50%;*/
// .roulette .wheel li:nth-child(1){background:lightsteelblue;}
// .roulette .wheel li:nth-child(2){background:lightskyblue;}
// .roulette .wheel li:nth-child(3){background:lightgreen;}
// .roulette .wheel li:nth-child(4){background:lightgrey;}
// .roulette .wheel li:nth-child(5){background:lightpink;}
// .roulette .wheel .content{@include heading($size: 18px);position:absolute;top:10%;bottom:10%;left:10%;right:10%;text-align:center;transform:rotate(270deg);}

// .roulette .wheel[data-percentage="1/3"] li{clip-path:polygon(0% -40%, 50% 50%, 0% 140%, 0% 0%)}
// .roulette .wheel[data-percentage="1/3"] li:nth-child(1){transform:rotate(90deg)}
// .roulette .wheel[data-percentage="1/3"] li:nth-child(2){transform:rotate(90deg + 120deg * 1)}
// .roulette .wheel[data-percentage="1/3"] li:nth-child(3){transform:rotate(90deg + 120deg * 2)}
// .roulette .wheel[data-percentage="1/3"] li:nth-child(n + 4){display:none;}

// .roulette .wheel[data-percentage="1/4"] li{clip-path:polygon(0% 0%, 50% 50%, 0% 100%)}
// .roulette .wheel[data-percentage="1/4"] li:nth-child(1){transform:rotate(90deg)}
// .roulette .wheel[data-percentage="1/4"] li:nth-child(2){transform:rotate(90deg + 90deg * 1)}
// .roulette .wheel[data-percentage="1/4"] li:nth-child(3){transform:rotate(90deg + 90deg * 2)}
// .roulette .wheel[data-percentage="1/4"] li:nth-child(4){transform:rotate(90deg + 90deg * 3)}
// .roulette .wheel[data-percentage="1/4"] li:nth-child(n + 5){display:none;}

// $left1-5 : 16%;
// .roulette .wheel[data-percentage="1/5"] li{clip-path:polygon(0% $left1-5, 50% 50%, 0% (100% - $left1-5));opacity:0.2;}
// .roulette .wheel[data-percentage="1/5"] li:nth-child(1){transform:rotate(0deg)}
// // .roulette .wheel[data-percentage="1/5"] li:nth-child(2){transform:rotate(90deg + 73deg * 1)}
// // .roulette .wheel[data-percentage="1/5"] li:nth-child(3){transform:rotate(90deg + 73deg * 2)}
// // .roulette .wheel[data-percentage="1/5"] li:nth-child(4){transform:rotate(90deg + 73deg * 3)}
// .roulette .wheel[data-percentage="1/5"] li:nth-child(5){transform:rotate(0deg + 73deg * 4)}


.roulette{position:relative;}
.roulette .arrow{position:absolute;top:0;left:50%;z-index:1;transform:translate(-50%,-50%);width:40px;height:60px;background-color:blue;}
.roulette .wheel{position:relative;width:calc(100vw - 48px);height:calc(100vw - 48px);max-width:300px;height:300px;margin:0 auto;border-radius:50%;background-color:bisque}
.roulette .btn-run-wheel{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}

