/* MY FUN DATA(동의유도) 공통 */
.temp-box{width:100%;padding:20px;background-color:$kb-ui08}
.img-box img{width:100%}
.content-tit{display:block;font-size:16px}
.my-fun-data .summary-desc{justify-content:space-between;margin-top:21px;margin-bottom:24px;line-height:24px}
.my-fun-data .summary-desc strong{font-weight:bold}.summary-area .chart-area{margin-bottom:47px}
.my-fun-data .chart-area div.temp{width:100%;height:165px;background-color:#21d0c4}
.my-fun-data .banner-box{width:100%;padding-top:24px;padding-bottom:14px;background-color:#5bced7}
.my-fun-data .banner-box.no-space{padding:0}
.card-box-desc .desc-tit{font-size:16px;}
.card-box-desc .desc-tit + .desc{margin-top:15px}
.card-box-desc .desc{font-size:14px;line-height:20px;color:$kb-ui03}
.card-box-desc .desc-tit i{margin-left:14px}
.card-box-desc .btn-line{margin-top:20px}

/* [MYS_SP_02_00_00] My Fun Data */
.myfundata-menu li+li{margin-top:24px}
.myfundata-menu li{width:100%;padding:27px}
.myfundata-menu li a{position:relative;min-height:178px}
.myfundata-menu li:nth-child(1){background-color:#5bced7}
.myfundata-menu li:nth-child(2){background-color:#fcd651}
.myfundata-menu li:nth-child(3){background-color:#b6b5f1}
.myfundata-menu li .img-box{position:absolute;bottom:0;right:0;width:210px;height:135px}
.myfundata-menu-bs{@include clfix}
.myfundata-menu-bs .img-box{float:right;margin-top:20px;width:220px;height:160px;text-align:right}


/* [MYS_SP_02_00_03] 부자스토리텔링 시뮬레이션 */
.rich-storytelling-simulation .banner-box{@include clfix}
.rich-storytelling-simulation .banner-box .banner-img{float:right;width:169px;height:100px;margin-top:-25px}
.rich-storytelling-simulation .simulate-amount{margin-top:10px}
.rich-storytelling-simulation .simulate-amount strong{position:relative;display:inline-block;font-size:27px;font-weight:bold;line-height:1}
.rich-storytelling-simulation .simulate-amount strong::before{position:absolute;left:0;bottom:3px;content:'';width:100%;height:10px;background-color:#7decf5}
.rich-storytelling-simulation .simulate-amount span{position:relative}
.rich-storytelling-simulation .simulate-amount .num{font-size:30px;font-weight:bold}
.rich-storytelling-simulation .simulate-list{margin-top:40px}
.rich-storytelling-simulation .simulate-list ul{display:grid;grid-template-columns:1fr 1fr;column-gap:11px}
.rich-storytelling-simulation .simulate-list li{margin-bottom:47px}
.rich-storytelling-simulation .simulate-list .info-box{height:158px;padding:25px 0;background-color:$kb-ui10;text-align:center}
.rich-storytelling-simulation .simulate-list .info-box .img-icon{display:inline-block;width:60px;height:60px;margin-top:10px}
.rich-storytelling-simulation .simulate-list .info-box + .list-name{margin-top:24px}
.rich-storytelling-simulation .simulate-list .list-name{text-align:center}
.rich-storytelling-simulation .simulate-list .list-name span{display:block;margin-bottom:9px;font-size:14px;color:$kb-ui03}
.rich-storytelling-simulation .simulate-list .list-name strong{font-size:18px;color:$kb-ui02;font-weight:bold}
.rich-storytelling-simulation .simulate-list .info-box + .kb-form{margin-top:18px}
.rich-storytelling-simulation .simulate-list .kb-form.select-bs{text-align:center}
.rich-storytelling-simulation .simulate-list .kb-form.select-bs .kb-form_inner{max-width:75px;}
.rich-storytelling-simulation .simulate-list .kb-form.select-bs .kb-form_inner input[role="button"]{display:inline-block;min-width:56px;max-width:min-content}

/* [MYS_SP_02_00_04] 부자스토리탤링 시뷸레이션 완료 */
.rich-simulation-complete .summary-tit .desc{justify-content:space-between;margin-bottom:6px}
.rich-simulation-complete .summary-tit{display:block;margin-bottom:24px}
.rich-simulation-complete .chart-area{margin-bottom:24px}
.rich-simulation-complete .rich-finance-compare > div{margin-top:48px;padding-top:12px;border-top:1px solid $kb-ui03}
.rich-simulation-complete .rich-finance-compare .more-view-box.is-show .icon-plus_20{display:none}
.rich-simulation-complete .rich-finance-compare .more-view-box.is-show .btn-area{margin-top:40px}
.rich-simulation-complete .rich-finance-compare .more-view-box.is-show .btn-more-view span::before{content:'';display:inline-block;width:11px;height:2px;margin-right:6px;background-color:$kb-ui03;vertical-align:middle}
.comparison-list{padding-top:25px;border-top:1px solid $kb-ui03}
.comparison-list .unit{margin-bottom:24px;font-size:14px;color:$kb-ui05;text-align:right}
.comparison-list li{display:flex;flex-wrap:wrap}
.comparison-list li+li{margin-top:47px}
.comparison-list .data-tit{display:block;width:100%;margin-bottom:16px}
.comparison-list .img{width:100px;height:90px;;margin-right:12px;background-color:$kb-ui09}
.comparison-list .data{flex:1;display:flex;align-items:center;border:1px solid $kb-ui09;text-align:center}
.comparison-list .data p{position:relative;flex:1}
.comparison-list .data p:not(.img-icon){padding:22px 0}
.comparison-list .data .img-icon{flex:none;height:65px;padding:0 18px}
.comparison-list .data .img-icon img{width:auto;height:100%}
.comparison-list .data .unit{margin-bottom:0;font-size:17px;font-weight:bold;line-height:1;color:#00c2d2}
.comparison-list .data .name{display:block;margin-bottom:16px;font-size:14px;color:$kb-ui03}
.comparison-list .data .number{font-family:'roboto';font-size:17px;font-weight:bold;line-height:1;text-decoration:underline}
.comparison-list ul + .annotation{margin-top:12px}

/* [MYS_SP_02_01_02]  나의 소비유형 > 소비유형선택 */
.my-expense-type .banner-box{position:relative;overflow:hidden;padding-bottom:26px;background-color:#b6b5f1}
.my-expense-type .banner-img{position:absolute;top:-20px;right:25px;width:180px;height:100px}
.my-expense-type .banner-desc{margin-top:22px;font-size:16px;line-height:23px;font-weight:normal}
.my-expense-type .banner-desc strong{font-weight:bold}
// 카드 라디오 목록
.my-expense-type .card-radio-list{display:grid;grid-template-columns:1fr 1fr;column-gap:16px}
.my-expense-type .card-radio-list li{margin-bottom:12px}
.my-expense-type .card-radio-list li p{text-align:center}
.my-expense-type .card-radio-list li .txt{padding:10px 15px;color:$kb-ui03;font-size:16px;line-height:23px}
.my-expense-type .card-radio-list li .img-icon{width:57px;height:57px;margin:0 auto}
.my-expense-type .card-radio-list li .img-icon .on{display:none}
.my-expense-type .card-radio-list li .img-icon .off{display:block}
.my-expense-type .card-radio-list li .form-checkbox{width:100%;padding-top:12px;padding-right:12px}
.my-expense-type .card-radio-list li .form-checkbox input + label{width:100%;padding:22px 0;border:1px solid $kb-ui09;border-radius:8px}
.my-expense-type .card-radio-list li .form-checkbox input + label:before{position:relative;top:auto;left:auto;display:block;margin:0 auto;}
.my-expense-type .card-radio-list li .form-checkbox input + label .tit{font-size:18px;margin:10px 0;font-weight:bold}
.my-expense-type .card-radio-list li .form-checkbox input:checked + label{background-color:$kb-ui10}
.my-expense-type .card-radio-list li .form-checkbox input:checked + label .img-icon .on{display:block}
.my-expense-type .card-radio-list li .form-checkbox input:checked + label .img-icon .off{display:none}

/* [MYS_SP_02_00_03_P1] 나의소비유형 스토리텔링 > 소비유형 */
.expense-type-summary .summary-area .summary-desc:first-of-type{margin-top:0}

/* [MYS_SP_02_01_03]  나의 소비유형 > 소비유형선택 > 소비유형스토리텔링 */
.my-type-storytelling{display:flex;align-items:center;justify-content:center;height:100%}
.my-type-storytelling .storytelling-content{display:flex;flex-direction:column;justify-content:space-between;text-align:center}
.my-type-storytelling .storytelling-content .img-box{width:273px;height:278px;margin:40px auto}
.my-type-storytelling .storytelling-content p{margin-top:20px;font-size:16px;line-height:23px}
.my-type-storytelling .storytelling-content p strong{display:block;font-weight:bold}
.my-type-storytelling .storytelling-content p span{display:block;font-size:14px;color:$kb-ui03}

/* [MYS_SP_02_01_03]  나의 소비유형 > 나의 소비유형 > 분석완료 */
.my-expense-type-complete .banner-img img{margin-bottom:-26px}
.my-expense-type-complete .summary-tit{margin-bottom:24px}
.my-expense-type-complete .summary-tit .desc{justify-content:space-between;margin-bottom:6px}
.my-expense-type-complete .recently-expense{margin-top:40px}

/* [MYS_SP_02_02_02] MY FUN DATA > 숨은내돈찾기_스토리텔링 */
.motion-swiper .swiper-slide{width:100%}
.motion-swiper .swiper-slide .motion-content{position:relative;width:100%;height:100%;text-align:center}
.motion-swiper .swiper-slide .motion-content .bg-circle{position:relative;width:258px;height:258px;margin:0 auto;border-radius:50%;background-color:#aaa9ed;transform:scale(0.5);opacity:0}
.motion-swiper .swiper-slide .desc{margin-top:50px;text-align:center}
.motion-swiper .swiper-slide .desc p{@include text($size : $text02, $weight : normal, $line-height: 1.4);margin-top:10px}
.motion-swiper .swiper-slide-active .motion-content .bg-circle{opacity:1;transform:scale(1);transition:all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1)}
.find-hidden-money .swiper-slide .motion-content{position:relative;width:100%;height:100%;padding-top:65px}
.find-hidden-money .swiper-slide .motion-content .item{position:absolute;left:50%}
.find-hidden-money .swiper-slide .motion-content .item .item-box{position:relative;width:100%;height:100%}
// 숨은 내 돈 찾기
.find-hidden-money .swiper-slide .motion-content .item .item-box .blink{position:absolute;width:18px;height:18px;opacity:0}
.find-hidden-money .swiper-slide .motion-content .item:not(.magnifying){opacity:0;transform:translateY(-100px)}
.find-hidden-money .swiper-slide .motion-content .coin{width:80px;max-width:80px;height:80px}
.find-hidden-money .swiper-slide .motion-content .coin:nth-of-type(1){top:0;left:calc(50% - 92px)}
.find-hidden-money .swiper-slide .motion-content .coin:nth-of-type(2){top:80px;left:calc(50% + 60px)}
.find-hidden-money .swiper-slide .motion-content .coin:nth-of-type(3){top:140px;left:calc(50% + 17px)}
.find-hidden-money .swiper-slide .motion-content .coin:nth-of-type(3) img{transform:scale(0.64);transform-origin:left top}
.find-hidden-money .swiper-slide .motion-content .magnifying{top:190px;left:calc(50% - 35px);width:116px;height:122px}
.find-hidden-money .swiper-slide .motion-content .magnifying img{opacity:0}
.find-hidden-money .swiper-slide .motion-content .magnifying .view-coin{position:absolute;top:0;left:0}
.find-hidden-money .swiper-slide .motion-content .magnifying .blink{top:-2px;right:-5px}
.find-hidden-money .swiper-slide .motion-content .gold-bar{top:250px;left:calc(50% - 90px);width:86px;height:42px;}
.find-hidden-money .swiper-slide .motion-content .gold-bar .blink{top:-75px;left:0}
.find-hidden-money .swiper-slide .motion-content .gold-bar .effect{position:absolute;top:-52px;left:37px;width:9px;height:20px}
.find-hidden-money .swiper-slide-active .motion-content .item:not(.magnifying){opacity:1;transform:translateY(0);transition:all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1)}
.find-hidden-money .swiper-slide-active .motion-content .coin:nth-of-type(1){transition-delay:0.1s}
.find-hidden-money .swiper-slide-active .motion-content .coin:nth-of-type(2){transition-delay:0.2s}
.find-hidden-money .swiper-slide-active .motion-content .coin:nth-of-type(3){transition-delay:0.3s}
.find-hidden-money .swiper-slide-active .motion-content .item.gold-bar{transition-delay:0.35s}
.find-hidden-money .swiper-slide-active .motion-content .magnifying img{opacity:1;transform:scale(1);transition:all 0.5s ease 0.5s}
.find-hidden-money .swiper-slide-active .motion-content .magnifying img.view-coin{transition-duration:1.3s;transition-delay:0.7s}
.find-hidden-money .swiper-slide-active .motion-content .blink{animation:blink 2s ease forwards infinite 0.3s}
.find-hidden-money .swiper-slide-active .motion-content .magnifying .blink{animation-delay:0.6s}
@keyframes blink{
    0%{opacity:0}
    40%{opacity:1}
    80%{opacity:1}
    100%{opacity:0}
}

/* [MYS_SP_02_02_01] MY FUN DATA > 숨은내돈찾기 데이터분석완료 */
.find-finance-summary ul{margin-top:25px}
.find-finance-summary li{padding:9px 0;color:$kb-ui03}
.find-finance-summary li:first-child{padding-top:0}
.find-finance-summary li .num{display:inline-block;margin-left:10px;font-weight:bold}
.find-finance-summary + .find-finance-list{margin-top:50px}
.find-my-finance-complete .kb-sec+.kb-sec{margin-top:47px}
.find-my-finance-complete .content-tit .h4{font-weight:normal}
.find-my-finance-complete .content-tit strong{font-weight:bold}
.find-my-finance-complete .content-tit + .card-box{margin-top:24px}
.find-my-finance-complete .card-box{padding:20px;border:1px solid $kb-ui09}
.find-my-finance-complete .card-box + .card-box{margin-top:20px}
.find-my-finance-complete .card-box dt{@include flexBetween}
.find-my-finance-complete .card-box dt span{vertical-align:middle}
.find-my-finance-complete .card-box dt span + .tit{margin-left:12px}
.find-my-finance-complete .card-box dt .tit{font-size:18px;font-weight:bold}
.find-my-finance-complete .card-box dt .btn-more{margin:0}
.find-my-finance-complete .card-box dd{display:flex;align-items:flex-start;justify-content:space-between;;margin-top:20px;padding-top:20px;border-top:1px solid $kb-ui09}
.find-my-finance-complete .card-box dd .name{font-size:16px;color:$kb-ui04}
.find-my-finance-complete .card-box dd .name{font-size:16px;color:$kb-ui04}
.find-my-finance-complete .card-box dd .amount{text-align:right}
.find-my-finance-complete .card-box dd .num{font-weight:bold}
.find-my-finance-complete .card-box dd .num::after{content:'P';display:inline-block;width:14px;height:14px;margin-left:4px;font-size:9px;line-height:14px;color:#ffbc00;border-radius:50%;border:1px solid #ffbc00;text-align:center;vertical-align:middle}
.find-my-finance-complete .card-box dd .add-txt{display:block;margin-top:12px;font-size:14px;color:$kb-ui06}
.find-my-finance-complete .card-box + .card-box-desc{margin-top:28px}
.find-my-finance-complete .card-box.t01 dt .info{display:flex}
.find-my-finance-complete .card-box.t01 dt .info > span{margin-right:10px}
.find-my-finance-complete .card-box.t01 dt span{display:block}
.find-my-finance-complete .card-box.t01 dt .tit ~ span{margin-top:12px}
.find-my-finance-complete .card-box.t01 dt .account-number{color:$kb-ui04}
.find-my-finance-complete .card-box.t01 dd{display:block;text-align:right;border-top:0;margin-top:0}
.find-my-finance-complete .card-box.t01 dd .num::after{display:none}
.find-my-finance-complete .no-data{margin-top:24px;padding:48px 0;border-top:1px solid $kb-ui09;border-bottom:1px solid $kb-ui09}
.find-my-finance-complete .no-data + .btn-solid{margin-top:48px}
