/* [MYS_AS_17_01_01_P1] 메안화면(자산등록 전) */

/* [MYS_AS_17_01_01_P2] 메안화면(자산등록 후) */

/* [MYS_AS_17_01_02_P1] 메인이미지 등록 */

/* [MYS_AS_17_01_02_P2] 메인이미지 수정 */

/* [MYS_AS_17_01_03_P1] 금 등록 */


/* 바텀시트 공통 */
.coffer-line>ul>li:first-of-type{border-top:1px solid #ebeef0;}
.coffer-line>ul>li{height:60px;line-height:60px;border-bottom:1px solid #ebeef0;}
.coffer-line>ul>li button{padding-right:0;text-align:center;font-weight:700;}
.coffer-line>ul>li button:focus{outline:0;}

/* [MYS_AS_17_01_03_BS1] 금 형태선택(바텀시트) */


/* [MYS_AS_17_01_03_P2] 금 조회 */

/* [MYS_AS_17_01_03_P3] 금 수정 */

/* [MYS_AS_17_01_04_P1] 휴대폰 등록 */

/* [MYS_AS_17_01_04_BS1] 휴대폰 등급(바텀시트) */

/* [MYS_AS_17_01_04_P2] 휴대폰 조회 */

/* [MYS_AS_17_01_04_P3] 휴대폰 수정 */

/* [MYS_AS_17_01_04_MD1] 휴대폰 모델 등록(1/3) */

/* [MYS_AS_17_01_04_MD2] 휴대폰 모델 등록(2/3) */

/* [MYS_AS_17_01_04_MD3] 휴대폰 모델 등록(3/3) */

/* [MYS_AS_17_01_05_P1] 기타자산 등록 */

/* [MYS_AS_17_01_05_BS1] 기타자산 종류(바텀시트) */

/* [MYS_AS_17_01_05_P2] 기타자산 조회 */

/* [MYS_AS_17_01_05_P3] 기타자산 수정 */

/* [MYS_AS_17_01_06] 자산등록완료 */

/* [MYS_AS_17_01_07_P1] My 금고 열어보기 */