/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-16 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -293px -268px;
  width: 16px;
  height: 16px;
}
.icon-18 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -293px -212px;
  width: 18px;
  height: 18px;
}
.icon-20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -679px;
  width: 20px;
  height: 20px;
}
.icon-24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -283px -578px;
  width: 24px;
  height: 24px;
}
.icon-28 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -207px -578px;
  width: 28px;
  height: 28px;
}
.icon-32 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -599px;
  width: 32px;
  height: 32px;
}
.icon-40 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -499px;
  width: 40px;
  height: 40px;
}
.icon-64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -292px;
  width: 64px;
  height: 64px;
}
.icon-68 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px -340px;
  width: 68px;
  height: 68px;
}
.icon-accordian-off {
  background-image: url(../images/sprite/sprite.png);
  background-position: -317px -578px;
  width: 24px;
  height: 24px;
}
.icon-accordian-on {
  background-image: url(../images/sprite/sprite.png);
  background-position: -351px -578px;
  width: 24px;
  height: 24px;
}
.icon-add-data_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -385px -578px;
  width: 24px;
  height: 24px;
}
.icon-add_68 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -425px -408px;
  width: 68px;
  height: 68px;
}
.icon-assets_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -419px -578px;
  width: 24px;
  height: 24px;
}
.icon-back {
  background-image: url(../images/sprite/sprite.png);
  background-position: -453px -578px;
  width: 24px;
  height: 24px;
}
.icon-badge_100 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px -418px;
  width: 69px;
  height: 63px;
}
.icon-badge_1st {
  background-image: url(../images/sprite/sprite.png);
  background-position: -137px -493px;
  width: 69px;
  height: 63px;
}
.icon-badge_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -216px -493px;
  width: 69px;
  height: 63px;
}
.icon-badge_2nd {
  background-image: url(../images/sprite/sprite.png);
  background-position: -295px -493px;
  width: 69px;
  height: 63px;
}
.icon-badge_300 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -493px;
  width: 69px;
  height: 63px;
}
.icon-badge_3rd {
  background-image: url(../images/sprite/sprite.png);
  background-position: -453px -493px;
  width: 69px;
  height: 63px;
}
.icon-badge_50 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px 0px;
  width: 69px;
  height: 63px;
}
.icon-badge_fail {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -73px;
  width: 69px;
  height: 63px;
}
.icon-badge_fill {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -146px;
  width: 69px;
  height: 63px;
}
.icon-badge_first {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -219px;
  width: 69px;
  height: 63px;
}
.icon-bag_trip {
  background-image: url(../images/sprite/sprite.png);
  background-position: -215px -95px;
  width: 90px;
  height: 90px;
}
.icon-bag_trip_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -408px;
  width: 75px;
  height: 75px;
}
.icon-bang_20_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -30px -679px;
  width: 20px;
  height: 20px;
}
.icon-bang_20_red {
  background-image: url(../images/sprite/sprite.png);
  background-position: -60px -679px;
  width: 20px;
  height: 20px;
}
.icon-bang_24_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -487px -578px;
  width: 24px;
  height: 24px;
}
.icon-bang_28_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -245px -578px;
  width: 28px;
  height: 28px;
}
.icon-bank-account_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -90px -679px;
  width: 20px;
  height: 20px;
}
.icon-bell_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -521px -578px;
  width: 24px;
  height: 24px;
}
.icon-calc_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -366px;
  width: 64px;
  height: 64px;
}
.icon-calendar {
  background-image: url(../images/sprite/sprite.png);
  background-position: -293px -240px;
  width: 18px;
  height: 18px;
}
.icon-calendar_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -120px -679px;
  width: 20px;
  height: 20px;
}
.icon-calendar_20_bk {
  background-image: url(../images/sprite/sprite.png);
  background-position: -150px -679px;
  width: 20px;
  height: 20px;
}
.icon-certificate-active {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -549px;
  width: 40px;
  height: 40px;
}
.icon-certificate-expire {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -514px;
  width: 40px;
  height: 40px;
}
.icon-certificate-none {
  background-image: url(../images/sprite/sprite.png);
  background-position: -463px -321px;
  width: 40px;
  height: 40px;
}
.icon-chart-card {
  background-image: url(../images/sprite/sprite.png);
  background-position: -596px -440px;
  width: 64px;
  height: 64px;
}
.icon-complete_60 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -74px;
  width: 60px;
  height: 60px;
}
.icon-copy {
  background-image: url(../images/sprite/sprite.png);
  background-position: -180px -679px;
  width: 20px;
  height: 20px;
}
.icon-data-clear_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -555px -578px;
  width: 24px;
  height: 24px;
}
.icon-diver {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 97px;
  height: 100px;
}
.icon-diver_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px 0px;
  width: 73px;
  height: 75px;
}
.icon-doc_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -589px -578px;
  width: 24px;
  height: 24px;
}
.icon-down {
  background-image: url(../images/sprite/sprite.png);
  background-position: -623px -578px;
  width: 24px;
  height: 24px;
}
.icon-educate {
  background-image: url(../images/sprite/sprite.png);
  background-position: -186px -212px;
  width: 97px;
  height: 78px;
}
.icon-educate_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -293px -321px;
  width: 75px;
  height: 61px;
}
.icon-expense_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -725px -499px;
  width: 10px;
  height: 10px;
}
.icon-expense_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -85px -620px;
  width: 15px;
  height: 15px;
}
.icon-familytrip {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -321px;
  width: 96px;
  height: 77px;
}
.icon-familytrip_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -378px -321px;
  width: 75px;
  height: 60px;
}
.icon-filter_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -645px;
  width: 24px;
  height: 24px;
}
.icon-filter_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -34px -645px;
  width: 24px;
  height: 24px;
}
.icon-flag-goal {
  background-image: url(../images/sprite/sprite.png);
  background-position: -646px -514px;
  width: 18px;
  height: 34px;
}
.icon-forkids {
  background-image: url(../images/sprite/sprite.png);
  background-position: -321px 0px;
  width: 84px;
  height: 91px;
}
.icon-forkids_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px -85px;
  width: 69px;
  height: 75px;
}
.icon-forparents {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -212px;
  width: 78px;
  height: 99px;
}
.icon-forparents_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -493px;
  width: 59px;
  height: 75px;
}
.icon-funnel {
  background-image: url(../images/sprite/sprite.png);
  background-position: -532px -493px;
  width: 40px;
  height: 40px;
}
.icon-gift_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -68px -645px;
  width: 24px;
  height: 24px;
}
.icon-go_detail_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -204px -645px;
  width: 24px;
  height: 24px;
}
.icon-goal_compare {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -645px;
  width: 24px;
  height: 24px;
}
.icon-goal_grudge {
  background-image: url(../images/sprite/sprite.png);
  background-position: -136px -645px;
  width: 24px;
  height: 24px;
}
.icon-goal_spend {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -645px;
  width: 24px;
  height: 24px;
}
.icon-graph_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -238px -645px;
  width: 24px;
  height: 24px;
}
.icon-half_coin {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -144px;
  width: 51px;
  height: 51px;
}
.icon-half_pig {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -205px;
  width: 51px;
  height: 51px;
}
.icon-half_star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -266px;
  width: 51px;
  height: 51px;
}
.icon-hocance {
  background-image: url(../images/sprite/sprite.png);
  background-position: -107px 0px;
  width: 98px;
  height: 98px;
}
.icon-hocance_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -85px -408px;
  width: 75px;
  height: 75px;
}
.icon-income_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -725px -519px;
  width: 10px;
  height: 10px;
}
.icon-income_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -110px -620px;
  width: 15px;
  height: 15px;
}
.icon-info_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -327px;
  width: 48px;
  height: 48px;
}
.icon-lang_trip {
  background-image: url(../images/sprite/sprite.png);
  background-position: -415px -96px;
  width: 79px;
  height: 93px;
}
.icon-lang_trip_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px -255px;
  width: 64px;
  height: 75px;
}
.icon-link_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -210px -679px;
  width: 20px;
  height: 20px;
}
.icon-link_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -272px -645px;
  width: 24px;
  height: 24px;
}
.icon-list_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -240px -679px;
  width: 20px;
  height: 20px;
}
.icon-massage {
  background-image: url(../images/sprite/sprite.png);
  background-position: -415px -199px;
  width: 79px;
  height: 90px;
}
.icon-massage_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -513px -170px;
  width: 66px;
  height: 75px;
}
.icon-menu-grey_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -306px -645px;
  width: 24px;
  height: 24px;
}
.icon-menu {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -645px;
  width: 24px;
  height: 24px;
}
.icon-mobile_change {
  background-image: url(../images/sprite/sprite.png);
  background-position: -321px -101px;
  width: 84px;
  height: 84px;
}
.icon-mobile_change_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -170px -408px;
  width: 75px;
  height: 75px;
}
.icon-more_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -374px -645px;
  width: 24px;
  height: 24px;
}
.icon-more_top_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -408px -645px;
  width: 24px;
  height: 24px;
}
.icon-move {
  background-image: url(../images/sprite/sprite.png);
  background-position: -270px -679px;
  width: 20px;
  height: 20px;
}
.icon-movie_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -442px -645px;
  width: 24px;
  height: 24px;
}
.icon-overbag {
  background-image: url(../images/sprite/sprite.png);
  background-position: -415px 0px;
  width: 88px;
  height: 86px;
}
.icon-overbag_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -255px -408px;
  width: 75px;
  height: 74px;
}
.icon-overseas {
  background-image: url(../images/sprite/sprite.png);
  background-position: -321px -195px;
  width: 72px;
  height: 94px;
}
.icon-overseas_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -69px -493px;
  width: 58px;
  height: 75px;
}
.icon-overwatch {
  background-image: url(../images/sprite/sprite.png);
  background-position: -88px -212px;
  width: 88px;
  height: 87px;
}
.icon-overwatch_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -340px -408px;
  width: 75px;
  height: 74px;
}
.icon-pagination_first {
  background-image: url(../images/sprite/sprite.png);
  background-position: -300px -679px;
  width: 20px;
  height: 20px;
}
.icon-pagination_last {
  background-image: url(../images/sprite/sprite.png);
  background-position: -330px -679px;
  width: 20px;
  height: 20px;
}
.icon-pagination_next {
  background-image: url(../images/sprite/sprite.png);
  background-position: -360px -679px;
  width: 20px;
  height: 20px;
}
.icon-pagination_prev {
  background-image: url(../images/sprite/sprite.png);
  background-position: -390px -679px;
  width: 20px;
  height: 20px;
}
.icon-parentsmoney {
  background-image: url(../images/sprite/sprite.png);
  background-position: -106px -321px;
  width: 92px;
  height: 69px;
}
.icon-parentsmoney_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -578px;
  width: 75px;
  height: 57px;
}
.icon-pdf_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -420px -679px;
  width: 20px;
  height: 20px;
}
.icon-pigbank_23 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -714px -645px;
  width: 23px;
  height: 21px;
}
.icon-plus_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -450px -679px;
  width: 20px;
  height: 20px;
}
.icon-plus_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -476px -645px;
  width: 24px;
  height: 24px;
}
.icon-report_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -510px -645px;
  width: 24px;
  height: 24px;
}
.icon-reset_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -480px -679px;
  width: 20px;
  height: 20px;
}
.icon-search {
  background-image: url(../images/sprite/sprite.png);
  background-position: -717px -599px;
  width: 22px;
  height: 22px;
}
.icon-search_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -544px -645px;
  width: 24px;
  height: 24px;
}
.icon-search_24_gray {
  background-image: url(../images/sprite/sprite.png);
  background-position: -578px -645px;
  width: 24px;
  height: 24px;
}
.icon-setting_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -612px -645px;
  width: 24px;
  height: 24px;
}
.icon-setting_menu_24 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -646px -645px;
  width: 24px;
  height: 24px;
}
.icon-share {
  background-image: url(../images/sprite/sprite.png);
  background-position: -680px -645px;
  width: 24px;
  height: 24px;
}
.icon-stamp-fail-big {
  background-image: url(../images/sprite/sprite.png);
  background-position: 0px -110px;
  width: 92px;
  height: 92px;
}
.icon-stamp-fail {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -385px;
  width: 47px;
  height: 47px;
}
.icon-stamp-suc-big {
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -110px;
  width: 92px;
  height: 92px;
}
.icon-stamp-suc {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px -442px;
  width: 47px;
  height: 47px;
}
.icon-star {
  background-image: url(../images/sprite/sprite.png);
  background-position: -85px -578px;
  width: 32px;
  height: 32px;
}
.icon-stock_64 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -675px 0px;
  width: 64px;
  height: 64px;
}
.icon-tooltip-que {
  background-image: url(../images/sprite/sprite.png);
  background-position: -127px -578px;
  width: 32px;
  height: 32px;
}
.icon-tooltip-que_20 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -510px -679px;
  width: 20px;
  height: 20px;
}
.icon-transfer_10 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -725px -549px;
  width: 10px;
  height: 10px;
}
.icon-transfer_15 {
  background-image: url(../images/sprite/sprite.png);
  background-position: -135px -620px;
  width: 15px;
  height: 15px;
}
.icon-trophy {
  background-image: url(../images/sprite/sprite.png);
  background-position: -169px -578px;
  width: 28px;
  height: 29px;
}
.icon-worldtrip {
  background-image: url(../images/sprite/sprite.png);
  background-position: -215px 0px;
  width: 96px;
  height: 85px;
}
.icon-worldtrip_sml {
  background-image: url(../images/sprite/sprite.png);
  background-position: -208px -321px;
  width: 75px;
  height: 67px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-16 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-18 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-28 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-32 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-40 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-68 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-accordian-off {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-accordian-on {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-add-data_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-add_68 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-assets_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-back {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_100 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_1st {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_2nd {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_300 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_3rd {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_50 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_fail {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_fill {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-badge_first {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bag_trip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bag_trip_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bang_20_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bang_20_red {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bang_24_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bang_28_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bank-account_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-bell_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-calc_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-calendar {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-calendar_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-calendar_20_bk {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-certificate-active {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-certificate-expire {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-certificate-none {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-chart-card {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-complete_60 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-copy {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-data-clear_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-diver {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-diver_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-doc_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-down {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-educate {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-educate_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-expense_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-expense_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-familytrip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-familytrip_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-filter_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-filter_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-flag-goal {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-forkids {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-forkids_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-forparents {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-forparents_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-funnel {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-gift_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-go_detail_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-goal_compare {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-goal_grudge {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-goal_spend {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-graph_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-half_coin {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-half_pig {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-half_star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-hocance {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-hocance_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-income_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-income_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-info_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-lang_trip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-lang_trip_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-link_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-link_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-list_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-massage {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-massage_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-menu-grey_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-menu {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-mobile_change {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-mobile_change_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-more_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-more_top_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-move {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-movie_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overbag {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overbag_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overseas {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overseas_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overwatch {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-overwatch_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pagination_first {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pagination_last {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pagination_next {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pagination_prev {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-parentsmoney {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-parentsmoney_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pdf_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-pigbank_23 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-plus_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-plus_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-report_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-reset_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-search {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-search_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-search_24_gray {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-setting_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-setting_menu_24 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-share {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-stamp-fail-big {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-stamp-fail {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-stamp-suc-big {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-stamp-suc {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-star {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-stock_64 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-tooltip-que {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-tooltip-que_20 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-transfer_10 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-transfer_15 {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-trophy {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-worldtrip {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
  .icon-worldtrip_sml {
    background-image: url(../images/sprite/sprite@2x.png);
    background-size: 739px 699px;
  }
}
